# Web Scraping Project

URL Numbeo Cost of living in a city

In [283]:
import pandas as pd
import time
import re
import requests
from bs4 import BeautifulSoup
import random

In [10]:
# url https://www.numbeo.com/cost-of-living/

In [11]:
# Specific url
url = 'https://www.numbeo.com/cost-of-living/in/Dublin'

In [12]:
#Genetal url to recicle for any city
city1 = 'Dublin'
gurl = 'https://www.numbeo.com/cost-of-living/in/'+city1

In [13]:
gurl

'https://www.numbeo.com/cost-of-living/in/Dublin'

In [14]:
#headers allow you to "pretend" to be a web browser
headers= {'Accept-Encoding':'gzip, deflate',
          'Accept-Language':'en-US,en;q=0.9',
          'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}

In [28]:
#Check response 
response = requests.get(gurl)
response

In [29]:
#review response content
response.content

b'<!DOCTYPE html>\n<html lang="en">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n\n<meta property="og:title" content="Cost of Living in Dublin" />\n<meta property="og:description" content="Average prices of more than 40 products and services in Dublin, IrelandApr 2022. Prices of restaurants, food, transportation, utilities and housing are included. " />\n<meta property="og:type" content="website"/>\n<meta property="og:url" content="https://www.numbeo.com/cost-of-living/in/Dublin"/>\n<link rel="alternate" hreflang="en" href="https://www.numbeo.com/cost-of-living/in/Dublin" />\n<link rel="alternate" hreflang="de" href="https://de.numbeo.com/lebenshaltungskosten/stadt/Dublin" />\n<link rel="alternate" hreflang="pt" href="https://pt.numbeo.com/custo-de-vida/cidade/Dublin" />\n<link rel="alternate" hreflang="it" href="https://it.numbeo.com/costo-della-vita/citt%C3%A0/Dublino" />\n<link rel="alternate" hreflang="fr" href="https://fr.numbeo.com/co%C3%BBt-de-la-vie/ville/Dublin" />\n<link rel="alternate" hreflang="es" href="https://es.numbeo.com/coste-de-vida/ciudad/Dubl%C3%ADn" />\n\n            <script defer src="https://www.numbeo.com/common/numbeo_standard.js"></script>\n    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.min.css" rel="Stylesheet" />\n    <link rel="shortcut icon" type="image/x-icon" href="https://www.numbeo.com/favicon.ico" />\n    <script  defer  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>\n    <script  defer  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>\n   <script src=\'https://www.gstatic.com/charts/loader.js\'></script>\n<link rel="apple-touch-icon" href="https://www.numbeo.com/images/apple-touch-icon.png">\n  <script>\n  if (typeof whenDocReady === "function") {\n    // already declared, do nothing\n  } else {\n    function whenDocReady(fn) {\n      // see if DOM is already available\n      if (document.readyState === "complete" || document.readyState === "interactive") {\n        // call on next available tick\n        setTimeout(fn, 1);\n      } else {\n        document.addEventListener("DOMContentLoaded", fn);\n      }\n    }\n  }\n</script>\n<!-- Global site tag (gtag.js) - Google Analytics -->\n<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10969791-1"></script>\n<script>\n  window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n  gtag(\'js\', new Date());\ngtag(\'config\', \'UA-10969791-1\', {\n  \'custom_map\': {\'dimension1\': \'abTestDesign\'}\n});\n\ngtag(\'event\', \'abTestDesign_dimension\', {\'abTestDesign\': 1, \'non_interaction\': true});\n</script>\n<script data-cfasync="false" async src="https://cdn.snigelweb.com/adengine/numbeo.com/loader.js" type="text/javascript"></script>\n    <link rel="stylesheet" href="https://www.numbeo.com/common/style_desktop_b.css" />\n\n<title>Cost of Living in Dublin. Apr 2022. Prices in Dublin</title>\n\n</head>\n<body>\n<aside>\n<div class="top_ad">\n<div style="display: block; height: 90px; width: 100%; text-align: center">\n<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<!-- ad_in_header3 -->\n<ins class="adsbygoogle"\n     style="display:inline-block;width:728px;height:90px"\n     data-ad-client="ca-pub-8993465169534557"\n     data-ad-slot="7618322317"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n</div>\n</div>\n</aside>\n<nav>\n<div class="logo-and-upper-ad">\n<div class="innerWidth" id="content_and_logo">\n<table style="width: 100%;" >\n<tr>\n<td style="padding-top: 5px; padding-bottom: 7px; vertical-align: bottom;">\n<a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">\n<img src="https://www.numbeo.com/images/numbeo_icon_1B3B6F.svg" style="height: 56px; padding: 0px 0px; vertical-align: bottom; border: 0;" alt="" /><img src="https://www.numbeo.com/images/numbeo_text_1B3B6F.svg" style="height: 40px; margin-left: 1em; margin-bottom: 5px; vertical-align: bottom; border: 0;" alt="NUMBEO" /></a>\n</td>\n<td style="padding-left:60px; padding-top: 1px; padding-bottom: 0px; vertical-align: middle; width: 840px; text-align: left;" >\n<div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">\n<nav style="display: inline-block; vertical-align: middle;">\n<div class="standard_margin_inlineblock" >      <form action="https://www.numbeo.com/common/dispatcher.jsp" method="get" id="menu_dispatch_form"  style="display: inline; padding: 0; margin:0;">\n      <input type="hidden" name="where" value="https://www.numbeo.com/cost-of-living/in/" style="display: inline; padding:0; margin:0;" />\n<input id="city_selector_menu_city_id"  size="27"  type="text" placeholder="Select City" class="city-selector-menu" name="city_selector_menu_city_id" />\n<input type="hidden" id="menu_city_id" name="city_id"/>\n<input type="hidden" id="name_menu_city_id" name="name_city_id"/>\n      </form>\n</div>\n <script>\nwhenDocReady(function() {\n  \tjQuery(\'#city_selector_menu_city_id\').autocomplete({\n  \t  source: \'https://www.numbeo.com/common/CitySearchJson\',\n     minLength: 1,\n     delay: 3,\n     autoFocus: true,\n     select: function(event, ui) {\n         event.preventDefault();\n         $(\'#name_menu_city_id\').val(ui.item.label);\n         $(\'#city_selector_menu_city_id\').val(ui.item.label);\n         $(\'#menu_city_id\').val(ui.item.value);\njQuery(\'#menu_dispatch_form\').submit();     },\n     focus: function(event, ui) {\n         event.preventDefault();\n     }\n\t  })   .keydown(function(e){\n\t    if (e.keyCode === 13){\n      if ($(\'#menu_city_id\').val() == \'\') { \n        e.preventDefault();\n      }\n      var val = $(\'#city_selector_menu_city_id\').val();\n\t\t   $(\'#name_menu_city_id\').val(val);\n\t   }\n  }); // end autocompleter definition\n$(\'#city_selector_menu_city_id\').toggleClass(\'city-selector-menu\');\n$(\'#city_selector_menu_city_id\').toggleClass(\'city-selector-menu\');\n }); // end document ready \n</script>\n</nav>\n</div>\n</td>\n</tr>\n</table>\n</div> <!-- innerWidth in header -->\n</div> <!-- logo-and-upper-ad -->\n</nav>\n<div class="innerWidth">\n<div class="dropdown-outer">\n<nav class="before-nav" >\n    <ul id="nav-one" class="nav">\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/cost-of-living/">Cost Of Living</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/cost-of-living/">Cost Of Living</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/comparison.jsp">Cost of Living Comparison</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/calculator.jsp">Cost of Living Calculator</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">Cost Of Living Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings.jsp">Cost Of Living Index</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings_by_country.jsp">Cost Of Living Index By Country</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/estimator_main">Cost of Living Estimator</a></li>\n    <li><a href="https://www.numbeo.com/food-prices/">Food Prices</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/prices_by_city.jsp">Prices By City</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/prices_by_country.jsp">Prices By Country</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/historical-data-analysis">Historical Data Analysis</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/basket_of_goods.jsp">Basket of Goods and Services</a></li>\n    <li><a href="https://www.numbeo.com/taxi-fare/">Taxi Fare Calculator</a></li>\n    <li><a href="https://www.numbeo.com/gas-prices/">Gas Prices Calculator</a></li>\n    <li><a href="https://www.numbeo.com/common/motivation_and_methodology.jsp">Our Motivation and Methodology</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/contribute.jsp">Update Information for Your City</a></li>\n  </ul></li>\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/property-investment/">Property Prices</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/property-investment/">Property Prices</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/comparison.jsp">Property Prices Comparison</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings_current.jsp">Property Price Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings.jsp">Property Price Index</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings_by_country.jsp">Property Price Index By Country</a></li>\n   </ul></li>\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/quality-of-life/">Quality Of Life</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/quality-of-life/">Quality of Life</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/comparison.jsp">Quality of Life Comparisons</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings_current.jsp">Quality of Life Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings.jsp">Quality of Life Index</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings_by_country.jsp">Quality of Life Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/crime/">Crime</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings_current.jsp">Crime Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings.jsp">Crime Index</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings_by_country.jsp">Crime Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/health-care/">Health Care</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings_current.jsp">Health Care Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings.jsp">Health Care Index</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings_by_country.jsp">Health Care Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/pollution/">Pollution</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings_current.jsp">Pollution Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings.jsp">Pollution Index</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings_by_country.jsp">Pollution Index by Country</a></li>\n     <li><a href="https://www.numbeo.com/traffic/">Traffic</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings_current.jsp">Traffic Index (Current)</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings.jsp">Traffic Index</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings_by_country.jsp">Traffic Index by Country</a></li>\n\t</ul></li>\n\t<li class="dir">\n<a href="https://www.numbeo.com/premium/index">Premium</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/premium/commercial-license">Commercial License</a></li>\n    <li><a href="https://www.numbeo.com/premium/">Insights</a></li>\n    <li><a href="https://www.numbeo.com/common/api.jsp">API</a></li>\n\t</ul></li>\n\t<li class="dir">\n<a href="https://jobs.numbeo.com/jobs/">Jobs</a>\n  <ul>\n    <li><a href="https://jobs.numbeo.com/jobs/remote-jobs">Remote Jobs</a></li>\n    <li><a href="https://jobs.numbeo.com/jobs/jobs-with-relocation">Jobs with Relocation</a></li>\n    <li><a href="https://jobs.numbeo.com/jobs/post-job">Post Jobs</a></li>\n\t</ul></li>\n\n\n</ul>\n<br style="clear: both"/>\n</nav>\n</div> <!-- dropdown-outer -->\n</div> <!-- innerWidth -->\n<div class="innerWidth">\n <div class="right-ads-and-info">\n <div class="right-ads">\n<div style="width: 300px; height: 251px">\n\n<!-- adngin-ad_float_right-0 -->\n<div id="adngin-ad_float_right-0"></div>\n\n</div>\n\n </div>\n </div>\n<p>\n<nav itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">\n<a href="https://www.numbeo.com/common/" class="discreet_link"><img src="https://www.numbeo.com/images/home.png" class="image_without_border hide_smaller_than_600" alt="home"/></a><span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n<a href="https://www.numbeo.com/cost-of-living/" itemprop="item" class="breadcrumb_link"><span itemprop="name">Cost of Living</span></a><meta itemprop="position" content="1" />\n</span> <span style="font-size: 75%; display: inline-block;">&gt;</span> <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n <a href="https://www.numbeo.com/cost-of-living/country_result.jsp?country=Ireland"  itemprop="item"  class="breadcrumb_link"><span itemprop="name">Ireland</span></a><meta itemprop="position" content="2" />\n</span> <span style="font-size: 75%; display: inline-block;">&gt;</span> <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n<a href="https://www.numbeo.com/cost-of-living/in/Dublin"  itemprop="item"  class="breadcrumb_link">\n<span itemprop="name">Dublin</span></a><meta itemprop="position" content="3" />\n</span></nav>\n    <h1> Cost of Living in Dublin</h1>\n\n\n<!-- Column 1 start -->\n\n\n<nav class="comparison_nav" id="comparison_nav">\n<div class="standard_margin standard_margin_left_right" >\n      <form action="https://www.numbeo.com/common/dispatcher.jsp" method="get" id="dispatch_form" class="dispatch_form">\n      <input type="hidden" name="where" value="https://www.numbeo.com/cost-of-living/compare_cities.jsp" style="display: inline; padding:0; margin:0;" />\n      <input type="hidden" name="city_id2" id="city_id2" value="5601"/>\n Compare Dublin  with: <input id="city_selector_city_id1" size="26" type="text" placeholder="Type and Pick City"  autocomplete="off"/>\n<input type="hidden" id="city_id1" name="city_id1" />\n<input type="hidden" id="name_city_id1" name="name_city_id1" />\n      <input type="hidden" name="tracking" value="getDispatchComparison" />\n      </form>\n <script>\nwhenDocReady(function() {\n  \tjQuery(\'#city_selector_city_id1\').autocomplete({\n  \t  source: \'https://www.numbeo.com/common/CitySearchJson\',\n     minLength: 1,\n     delay: 3,\n     autoFocus: true,\n     select: function(event, ui) {\n         event.preventDefault();\n         $(\'#name_city_id1\').val(ui.item.label);\n         $(\'#city_selector_city_id1\').val(ui.item.label);\n         $(\'#city_id1\').val(ui.item.value);\njQuery(\'#dispatch_form\').submit();     },\n     focus: function(event, ui) {\n         event.preventDefault();\n     }\n\t  })   .keydown(function(e){\n\t    if (e.keyCode === 13){\n      if ($(\'#city_id1\').val() == \'\') { \n        e.preventDefault();\n      }\n      var val = $(\'#city_selector_city_id1\').val();\n\t\t   $(\'#name_city_id1\').val(val);\n\t   }\n  }); // end autocompleter definition\n }); // end document ready \n</script>\n</div> \n</nav>\n\n<div class="seeding-call table_color summary limit_size_ad_right padding_lower other_highlight_color">\n<p><span style="font-weight: 600;">Summary</span> about cost of living in <span class="purple_light">Dublin, Ireland</span>:<ul><li>Family of four estimated monthly costs are <span class="emp_number">3,239.23&#8364;</span> without rent (using <a href="https://www.numbeo.com/cost-of-living/city-estimator/in/Dublin" class="">our estimator)</a>.</li><li>A single person estimated monthly costs are <span class="emp_number">914.92&#8364;</span> without rent.</li><li><span class="purple_light">Dublin</span> is <span class="emp_number">26.39%<span class="green_light"> less</span></span> expensive than <span class="rose_light">New York</span> (without rent, see our <a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">cost of living index</a>).</li><li>Rent in <span class="purple_light">Dublin</span> is, on average, <span class="emp_number">44.10%<span class="green_light"> lower</span></span> than in <span class="rose_light">New York</span>.</li></ul></div>\n\n<aside><div class="seeding-call disabled_on_small_devices">\n<span class="do_you_live_in">\n    Do you live in <span class="purple_light">Dublin</span>? <span class="we_need_your_help"><a href="https://www.numbeo.com/common/form.jsp?country=Ireland&amp;city=Dublin&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FDublin&amp;tracking=standardEnterData" rel="nofollow" class="enterDataA">Add data for Dublin! </a></span></span></div></aside>\n\n\n<nav>\n<form action="https://www.numbeo.com/cost-of-living/in/Dublin" method="get" class="standard_margin standard_margin_left_right change_currency_form">\nCurrency:          <select id="displayCurrency" name="displayCurrency" onchange="if (checkSelectedSomeTextNotDashed(\'displayCurrency\')) this.form.submit();">\n             <option value="EUR" selected="selected">EUR</option>\n             <option value="USD">USD</option>\n             <option value="---">---</option>\n             <option value="AED">AED</option>\n             <option value="AFN">AFN</option>\n             <option value="ALL">ALL</option>\n             <option value="AMD">AMD</option>\n             <option value="ANG">ANG</option>\n             <option value="AOA">AOA</option>\n             <option value="AUD">AUD</option>\n             <option value="AWG">AWG</option>\n             <option value="AZN">AZN</option>\n             <option value="BAM">BAM</option>\n             <option value="BBD">BBD</option>\n             <option value="BDT">BDT</option>\n             <option value="BGN">BGN</option>\n             <option value="BHD">BHD</option>\n             <option value="BIF">BIF</option>\n             <option value="BMD">BMD</option>\n             <option value="BND">BND</option>\n             <option value="BOB">BOB</option>\n             <option value="BRL">BRL</option>\n             <option value="BSD">BSD</option>\n             <option value="BTN">BTN</option>\n             <option value="BWP">BWP</option>\n             <option value="BYN">BYN</option>\n             <option value="BZD">BZD</option>\n             <option value="CAD">CAD</option>\n             <option value="CDF">CDF</option>\n             <option value="CHF">CHF</option>\n             <option value="CLF">CLF</option>\n             <option value="CLP">CLP</option>\n             <option value="CNH">CNH</option>\n             <option value="CNY">CNY</option>\n             <option value="COP">COP</option>\n             <option value="CRC">CRC</option>\n             <option value="CUC">CUC</option>\n             <option value="CVE">CVE</option>\n             <option value="CZK">CZK</option>\n             <option value="DJF">DJF</option>\n             <option value="DKK">DKK</option>\n             <option value="DOP">DOP</option>\n             <option value="DZD">DZD</option>\n             <option value="EGP">EGP</option>\n             <option value="ERN">ERN</option>\n             <option value="EUR">EUR</option>\n             <option value="FJD">FJD</option>\n             <option value="FKP">FKP</option>\n             <option value="GBP">GBP</option>\n             <option value="GEL">GEL</option>\n             <option value="GGP">GGP</option>\n             <option value="GHS">GHS</option>\n             <option value="GIP">GIP</option>\n             <option value="GMD">GMD</option>\n             <option value="GNF">GNF</option>\n             <option value="GTQ">GTQ</option>\n             <option value="GYD">GYD</option>\n             <option value="HKD">HKD</option>\n             <option value="HNL">HNL</option>\n             <option value="HRK">HRK</option>\n             <option value="HTG">HTG</option>\n             <option value="HUF">HUF</option>\n             <option value="IDR">IDR</option>\n             <option value="ILS"

In [30]:
#We make the soupo from the content
soup = BeautifulSoup(response.content)
#soup

In [31]:
#We validate soup type
type(soup)

bs4.BeautifulSoup

In [65]:
# Lets bring the table cost column
#table_country = soup.find_all('table', attrs = {'class':'data_wide_table new_bar_table'})
#table_country = soup.find_all('td', attrs = {'class':'tr_highlighted'})
table_country = soup.find_all('span', {'class':'first_currency'})
table_country

[<span class="first_currency">15.00 €</span>,
 <span class="first_currency">70.00 €</span>,
 <span class="first_currency">9.00 €</span>,
 <span class="first_currency">5.75 €</span>,
 <span class="first_currency">5.50 €</span>,
 <span class="first_currency">3.61 €</span>,
 <span class="first_currency">2.01 €</span>,
 <span class="first_currency">1.61 €</span>,
 <span class="first_currency">1.05 €</span>,
 <span class="first_currency">1.64 €</span>,
 <span class="first_currency">1.27 €</span>,
 <span class="first_currency">3.06 €</span>,
 <span class="first_currency">8.58 €</span>,
 <span class="first_currency">8.89 €</span>,
 <span class="first_currency">10.52 €</span>,
 <span class="first_currency">2.37 €</span>,
 <span class="first_currency">1.63 €</span>,
 <span class="first_currency">2.12 €</span>,
 <span class="first_currency">3.00 €</span>,
 <span class="first_currency">1.37 €</span>,
 <span class="first_currency">1.13 €</span>,
 <span class="first_currency">1.07 €</span>,
 <span class="first_currency">1.03 €</span>,
 <span class="first_currency">12.00 €</span>,
 <span class="first_currency">2.92 €</span>,
 <span class="first_currency">2.83 €</span>,
 <span class="first_currency">14.70 €</span>,
 <span class="first_currency">2.80 €</span>,
 <span class="first_currency">120.87 €</span>,
 <span class="first_currency">4.00 €</span>,
 <span class="first_currency">1.50 €</span>,
 <span class="first_currency">25.00 €</span>,
 <span class="first_currency">1.83 €</span>,
 <span class="first_currency">26,000.00 €</span>,
 <span class="first_currency">27,827.44 €</span>,
 <span class="first_currency">177.52 €</span>,
 <span class="first_currency">0.38 €</span>,
 <span class="first_currency">52.21 €</span>,
 <span class="first_currency">44.56 €</span>,
 <span class="first_currency">15.15 €</span>,
 <span class="first_currency">12.00 €</span>,
 <span class="first_currency">1,178.95 €</span>,
 <span class="first_currency">8,415.00 €</span>,
 <span class="first_currency">82.17 €</span>,
 <span class="first_currency">32.65 €</span>,
 <span class="first_currency">83.44 €</span>,
 <span class="first_currency">95.86 €</span>,
 <span class="first_currency">1,768.53 €</span>,
 <span class="first_currency">1,481.74 €</span>,
 <span class="first_currency">3,027.59 €</span>,
 <span class="first_currency">2,372.64 €</span>,
 <span class="first_currency">7,541.56 €</span>,
 <span class="first_currency">4,504.82 €</span>,
 <span class="first_currency">3,070.96 €</span>,
 <span class="first_currency">3.18</span>]

In [33]:
len(table_country)

55

In [70]:
#test extracting costs 
for element in table_country:
    print(element.text)

15.00 €
70.00 €
9.00 €
5.75 €
5.50 €
3.61 €
2.01 €
1.61 €
1.05 €
1.64 €
1.27 €
3.06 €
8.58 €
8.89 €
10.52 €
2.37 €
1.63 €
2.12 €
3.00 €
1.37 €
1.13 €
1.07 €
1.03 €
12.00 €
2.92 €
2.83 €
14.70 €
2.80 €
120.87 €
4.00 €
1.50 €
25.00 €
1.83 €
26,000.00 €
27,827.44 €
177.52 €
0.38 €
52.21 €
44.56 €
15.15 €
12.00 €
1,178.95 €
8,415.00 €
82.17 €
32.65 €
83.44 €
95.86 €
1,768.53 €
1,481.74 €
3,027.59 €
2,372.64 €
7,541.56 €
4,504.82 €
3,070.96 €
3.18

In [95]:
# Loop and extraxt row from tables cost items
cost_item_list = []
for element in table_country:
    print(element.text)
    cost_item_list.append({'Cost':element.text.replace('\xa0','')})
    print(".................................................................")
    
print(cost_item_list)
print("List long",len(cost_item_list))

15.00 €
.................................................................
70.00 €
.................................................................
9.00 €
.................................................................
5.75 €
.................................................................
5.50 €
.................................................................
3.61 €
.................................................................
2.01 €
.................................................................
1.61 €
.................................................................
1.05 €
.................................................................
1.64 €
.................................................................
1.27 €
.................................................................
3.06 €
.................................................................
8.58 €
.................................................................
8.89 €
.................................................................
10.52 €
.................................................................
2.37 €
.................................................................
1.63 €
.................................................................
2.12 €
.................................................................
3.00 €
.................................................................
1.37 €
.................................................................
1.13 €
.................................................................
1.07 €
.................................................................
1.03 €
.................................................................
12.00 €
.................................................................
2.92 €
.................................................................
2.83 €
.................................................................
14.70 €
.................................................................
2.80 €
.................................................................
120.87 €
.................................................................
4.00 €
.................................................................
1.50 €
.................................................................
25.00 €
.................................................................
1.83 €
.................................................................
26,000.00 €
.................................................................
27,827.44 €
.................................................................
177.52 €
.................................................................
0.38 €
.................................................................
52.21 €
.................................................................
44.56 €
.................................................................
15.15 €
.................................................................
12.00 €
.................................................................
1,178.95 €
.................................................................
8,415.00 €
.................................................................
82.17 €
.................................................................
32.65 €
.................................................................
83.44 €
.................................................................
95.86 €
.................................................................
1,768.53 €
.................................................................
1,481.74 €
.................................................................
3,027.59 €
.................................................................
2,372.64 €
.................................................................
7,541.56 €
.................................................................
4,504.82 €
.................................................................
3,070.96 €
.................................................................
3.18
.................................................................
[{'Cost': '15.00€'}, {'Cost': '70.00€'}, {'Cost': '9.00€'}, {'Cost': '5.75€'}, {'Cost': '5.50€'}, {'Cost': '3.61€'}, {'Cost': '2.01€'}, {'Cost': '1.61€'}, {'Cost': '1.05€'}, {'Cost': '1.64€'}, {'Cost': '1.27€'}, {'Cost': '3.06€'}, {'Cost': '8.58€'}, {'Cost': '8.89€'}, {'Cost': '10.52€'}, {'Cost': '2.37€'}, {'Cost': '1.63€'}, {'Cost': '2.12€'}, {'Cost': '3.00€'}, {'Cost': '1.37€'}, {'Cost': '1.13€'}, {'Cost': '1.07€'}, {'Cost': '1.03€'}, {'Cost': '12.00€'}, {'Cost': '2.92€'}, {'Cost': '2.83€'}, {'Cost': '14.70€'}, {'Cost': '2.80€'}, {'Cost': '120.87€'}, {'Cost': '4.00€'}, {'Cost': '1.50€'}, {'Cost': '25.00€'}, {'Cost': '1.83€'}, {'Cost': '26,000.00€'}, {'Cost': '27,827.44€'}, {'Cost': '177.52€'}, {'Cost': '0.38€'}, {'Cost': '52.21€'}, {'Cost': '44.56€'}, {'Cost': '15.15€'}, {'Cost': '12.00€'}, {'Cost': '1,178.95€'}, {'Cost': '8,415.00€'}, {'Cost': '82.17€'}, {'Cost': '32.65€'}, {'Cost': '83.44€'}, {'Cost': '95.86€'}, {'Cost': '1,768.53€'}, {'Cost': '1,481.74€'}, {'Cost': '3,027.59€'}, {'Cost': '2,372.64€'}, {'Cost': '7,541.56€'}, {'Cost': '4,504.82€'}, {'Cost': '3,070.96€'}, {'Cost': '3.18'}]
List long 55

In [74]:
#test
#count = 0
#for element in table_country:
#    if element.span is not None and element.td != "":
#        count= count+1
#        print("element",count,element.span.text)

In [75]:
#test
#count = 0
#for element in table_country[1:]:
#    if element.td is not None and element.td != "":
#        count= count+1
#        print("element",count,element.td)

In [76]:
#test
#table_country[6].text

In [77]:
#test
#table_country[0].span.text

In [78]:
#test
#for element in table_country:
#    print(type(element.span))

In [98]:
# Lets bring the table cost column
table_city = soup.find_all('tr')
table_city

[<tr>
 <td style="padding-top: 5px; padding-bottom: 7px; vertical-align: bottom;">
 <a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">
 <img alt="" src="https://www.numbeo.com/images/numbeo_icon_1B3B6F.svg" style="height: 56px; padding: 0px 0px; vertical-align: bottom; border: 0;"/><img alt="NUMBEO" src="https://www.numbeo.com/images/numbeo_text_1B3B6F.svg" style="height: 40px; margin-left: 1em; margin-bottom: 5px; vertical-align: bottom; border: 0;"/></a>
 </td>
 <td style="padding-left:60px; padding-top: 1px; padding-bottom: 0px; vertical-align: middle; width: 840px; text-align: left;">
 <div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">
 <nav style="display: inline-block; vertical-align: middle;">
 <div class="standard_margin_inlineblock"> <form action="https://www.numbeo.com/common/dispatcher.jsp" id="menu_dispatch_form" method="get" style="display: inline; padding: 0; margin:0;">
 <input name="where" style="display: inline; padding:0; margin:0;" type="hidden" value="https://www.numbeo.com/cost-of-living/in/"/>
 <input class="city-selector-menu" id="city_selector_menu_city_id" name="city_selector_menu_city_id" placeholder="Select City" size="27" type="text"/>
 <input id="menu_city_id" name="city_id" type="hidden"/>
 <input id="name_menu_city_id" name="name_city_id" type="hidden"/>
 </form>
 </div>
 <script>
 whenDocReady(function() {
   	jQuery('#city_selector_menu_city_id').autocomplete({
   	  source: 'https://www.numbeo.com/common/CitySearchJson',
      minLength: 1,
      delay: 3,
      autoFocus: true,
      select: function(event, ui) {
          event.preventDefault();
          $('#name_menu_city_id').val(ui.item.label);
          $('#city_selector_menu_city_id').val(ui.item.label);
          $('#menu_city_id').val(ui.item.value);
 jQuery('#menu_dispatch_form').submit();     },
      focus: function(event, ui) {
          event.preventDefault();
      }
 	  })   .keydown(function(e){
 	    if (e.keyCode === 13){
       if ($('#menu_city_id').val() == '') {
         e.preventDefault();
       }
       var val = $('#city_selector_menu_city_id').val();
 		   $('#name_menu_city_id').val(val);
 	   }
   }); // end autocompleter definition
 $('#city_selector_menu_city_id').toggleClass('city-selector-menu');
 $('#city_selector_menu_city_id').toggleClass('city-selector-menu');
  }); // end document ready
 </script>
 </nav>
 </div>
 </td>
 </tr>,
 <tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-dining.svg"/>
 </span>
 <div class="category_title">Restaurants</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Dublin&amp;country=Ireland&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FDublin&amp;current=0&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
 <th class="th_no_highlight prices" style="padding-left: 132px; text-align: left;">Range</th>
 </tr>,
 <tr><td>Meal, Inexpensive Restaurant </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">15.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 12.00</span><span class="barLeft" style="width: 12px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 58px;"></span><span class="barTextRight">30.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Meal for 2 People, Mid-range Restaurant, Three-course </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">70.00 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 50.00</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 42px;"></span><span class="barTextRight">120.00</span></td>
 </tr>,
 <tr><td>McMeal at McDonalds (or Equivalent Combo Meal) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">9.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 8.00</span><span class="barLeft" style="width: 6px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 12px;"></span><span class="barTextRight">11.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Domestic Beer (0.5 liter draught) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">5.75 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 4.40</span><span class="barLeft" style="width: 12px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 13px;"></span><span class="barTextRight">7.00</span></td>
 </tr>,
 <tr><td>Imported Beer (0.33 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.50 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 4.50</span><span class="barLeft" style="width: 10px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 15px;"></span><span class="barTextRight">7.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Cappuccino (regular) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">3.61 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 2.70</span><span class="barLeft" style="width: 14px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 22px;"></span><span class="barTextRight">5.00</span></td>
 </tr>,
 <tr><td>Coke/Pepsi (0.33 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.01 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 1.40</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 43px;"></span><span class="barTextRight">3.50</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Water (0.33 liter bottle)  </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.61 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.00</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">2.50</span></td>
 </tr>,
 <tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-grocery-store.svg"/>
 </span>
 <div class="category_title">Markets</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Dublin&amp;country=Ireland&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FDublin&amp;current=1&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
 <th class="th_no_highlight prices"></th>
 </tr>,
 <tr><td>Milk (regular), (1 liter) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.05 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 0.75</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 28px;"></span><span class="barTextRight">1.55</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Loaf of Fresh White Bread (500g) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.64 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.00</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 48px;"></span><span class="barTextRight">3.00</span></td>
 </tr>,
 <tr><td>Rice (white), (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.27 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 0.99</span><span class="barLeft" style="width: 13px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 56px;"></span><span class="barTextRight">2.49</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Eggs (regular) (12) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">3.06 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.60</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 18px;"></span><span class="barTextRight">4.00</span></td>
 </tr>,
 <tr><td>Local Cheese (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">8.58 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 4.00</span><span class="barLeft" style="width: 21px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 55px;"></span><span class="barTextRight">20.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Chicken Fillets (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">8.89 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 3.50</span><span class="barLeft" style="width: 34px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 21px;"></span><span class="barTextRight">12.00</span></td>
 </tr>,
 <tr><td>Beef Round (1kg) (or Equivalent Back Leg Red Meat) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">10.52 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 6.78</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 31px;"></span><span class="barTextRight">16.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Apples (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.37 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.00</span><span class="barLeft" style="width: 33px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 28px;"></span><span class="barTextRight">3.49</span></td>
 </tr>,
 <tr><td>Banana (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.63 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 1.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 57px;"></span><span class="barTextRight">3.58</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Oranges (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.12 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 0.80</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 52px;"></span><span class="barTextRight">5.00</span></td>
 </tr>,
 <tr><td>Tomato (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 0.80</span><span class="barLeft" style="width: 42px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 40px;"></span><span class="barTextRight">5.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Potato (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.37 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 0.80</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 35px;"></span><span class="barTextRight">2.20</span></td>
 </tr>,
 <tr><td>Onion (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.13 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 0.59</span><span class="barLeft" style="width: 27px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 46px;"></span><span class="barTextRight">2.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Lettuce (1 head) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.07 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 0.70</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 40px;"></span><span class="barTextRight">1.80</span></td>
 </tr>,
 <tr><td>Water (1.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">1.03 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 0.40</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 54px;"></span><span class="barTextRight">2.50</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Bottle of Wine (Mid-Range) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">12.00 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 8.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 15px;"></span><span class="barTextRight">15.00</span></td>
 </tr>,
 <tr><td>Domestic Beer (0.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.92 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 1.80</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 52px;"></span><span class="barTextRight">5.50</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Imported Beer (0.33 liter bottle) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">2.83 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 2.00</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 66px;"></span><span class="barTextRight">5.99</span></td>
 </tr>,
 <tr><td>Cigarettes 20 Pack (Marlboro) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">14.70 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 13.50</span><span class="barLeft" style="width: 4px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 16px;"></span><span class="barTextRight">19.00</span></td>
 </tr>,
 <tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-drive-eta.svg"/>
 </span>
 <div class="category_title">Transportation</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Dublin&amp;country=Ireland&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FDublin&amp;current=2&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
 <th class="th_no_highlight prices"></th>
 </tr>,
 <tr><td>One-way Ticket (Local Transport) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">2.80 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 2.30</span><span class="barLeft" style="width: 9px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 10px;"></span><span class="barTextRight">3.30</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Monthly Pass (Regular Price) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">120.87 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 100.00</span><span class="barLeft" style="width: 9px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 11px;"></span><span class="barTextRight">145.00</span></td>
 </tr>,
 <tr><td>Taxi Start (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">4.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 3.50</span><span class="barLeft" style="width: 7px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 29px;"></span><span class="barTextRight">6.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Taxi 1km (Normal Tariff) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.50 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.24</span><span class="barLeft" style="width: 10px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 38px;"></span><span class="barTextRight">2.50</span></td>
 </tr>,
 <tr><td>Taxi 1hour Waiting (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">25.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">
 24.00</span><span class="barLeft" style="width: 2px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 58px;"></span><span class="barTextRight">50.00</span></td>
 </tr>,
 <tr><td class="tr_highlighted">Gasoline (1 liter) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">1.83 €</span></td>
 <td class="priceBarTd tr_highlighted">
 <span class="barTextLeft">
 1.70</span><span class="barLeft" style="width: 3px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 5px;"></span><span class="barTextRight">2.00</span></td>
 </tr>,
 <tr><td>Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">26,000.00 €</span></td>
 <td class="priceBarTd">
 <span class="barTextLeft">

In [80]:
table_city[8].td.text

'Coke/Pepsi (0.33 liter bottle) '

In [97]:
# Loop and extraxt row from tables items names
count = 0
items_list = []
for element in table_city[1:66]:
    count= count+1
    if element.td is not None and element.td != "":
        print("elemento",count,":  ",element.td.text)
        print(".................................................................")
        items_list.append({'Item':element.td.text})
print(items_list)
print("List long",len(items_list))

elemento 2 :   Meal, Inexpensive Restaurant
.................................................................
elemento 3 :   Meal for 2 People, Mid-range Restaurant, Three-course
.................................................................
elemento 4 :   McMeal at McDonalds (or Equivalent Combo Meal)
.................................................................
elemento 5 :   Domestic Beer (0.5 liter draught)
.................................................................
elemento 6 :   Imported Beer (0.33 liter bottle)
.................................................................
elemento 7 :   Cappuccino (regular)
.................................................................
elemento 8 :   Coke/Pepsi (0.33 liter bottle)
.................................................................
elemento 9 :   Water (0.33 liter bottle)
.................................................................
elemento 11 :   Milk (regular), (1 liter)
.................................................................
elemento 12 :   Loaf of Fresh White Bread (500g)
.................................................................
elemento 13 :   Rice (white), (1kg)
.................................................................
elemento 14 :   Eggs (regular) (12)
.................................................................
elemento 15 :   Local Cheese (1kg)
.................................................................
elemento 16 :   Chicken Fillets (1kg)
.................................................................
elemento 17 :   Beef Round (1kg) (or Equivalent Back Leg Red Meat)
.................................................................
elemento 18 :   Apples (1kg)
.................................................................
elemento 19 :   Banana (1kg)
.................................................................
elemento 20 :   Oranges (1kg)
.................................................................
elemento 21 :   Tomato (1kg)
.................................................................
elemento 22 :   Potato (1kg)
.................................................................
elemento 23 :   Onion (1kg)
.................................................................
elemento 24 :   Lettuce (1 head)
.................................................................
elemento 25 :   Water (1.5 liter bottle)
.................................................................
elemento 26 :   Bottle of Wine (Mid-Range)
.................................................................
elemento 27 :   Domestic Beer (0.5 liter bottle)
.................................................................
elemento 28 :   Imported Beer (0.33 liter bottle)
.................................................................
elemento 29 :   Cigarettes 20 Pack (Marlboro)
.................................................................
elemento 31 :   One-way Ticket (Local Transport)
.................................................................
elemento 32 :   Monthly Pass (Regular Price)
.................................................................
elemento 33 :   Taxi Start (Normal Tariff)
.................................................................
elemento 34 :   Taxi 1km (Normal Tariff)
.................................................................
elemento 35 :   Taxi 1hour Waiting (Normal Tariff)
.................................................................
elemento 36 :   Gasoline (1 liter)
.................................................................
elemento 37 :   Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)
.................................................................
elemento 38 :   Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)
.................................................................
elemento 40 :   Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment
.................................................................
elemento 41 :   1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)
.................................................................
elemento 42 :   Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)
.................................................................
elemento 44 :   Fitness Club, Monthly Fee for 1 Adult
.................................................................
elemento 45 :   Tennis Court Rent (1 Hour on Weekend)
.................................................................
elemento 46 :   Cinema, International Release, 1 Seat
.................................................................
elemento 48 :   Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child
.................................................................
elemento 49 :   International Primary School, Yearly for 1 Child
.................................................................
elemento 51 :   1 Pair of Jeans (Levis 501 Or Similar)
.................................................................
elemento 52 :   1 Summer Dress in a Chain Store (Zara, H&M, ...)
.................................................................
elemento 53 :   1 Pair of Nike Running Shoes (Mid-Range)
.................................................................
elemento 54 :   1 Pair of Men Leather Business Shoes
.................................................................
elemento 56 :   Apartment (1 bedroom) in City Centre
.................................................................
elemento 57 :   Apartment (1 bedroom) Outside of Centre
.................................................................
elemento 58 :   Apartment (3 bedrooms) in City Centre
.................................................................
elemento 59 :   Apartment (3 bedrooms) Outside of Centre
.................................................................
elemento 61 :   Price per Square Meter to Buy Apartment in City Centre
.................................................................
elemento 62 :   Price per Square Meter to Buy Apartment Outside of Centre
.................................................................
elemento 64 :   Average Monthly Net Salary (After Tax)
.................................................................
elemento 65 :   Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
.................................................................
[{'Item': 'Meal, Inexpensive Restaurant '}, {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course '}, {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) '}, {'Item': 'Domestic Beer (0.5 liter draught) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cappuccino (regular) '}, {'Item': 'Coke/Pepsi (0.33 liter bottle) '}, {'Item': 'Water (0.33 liter bottle)  '}, {'Item': 'Milk (regular), (1 liter) '}, {'Item': 'Loaf of Fresh White Bread (500g) '}, {'Item': 'Rice (white), (1kg) '}, {'Item': 'Eggs (regular) (12) '}, {'Item': 'Local Cheese (1kg) '}, {'Item': 'Chicken Fillets (1kg) '}, {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) '}, {'Item': 'Apples (1kg) '}, {'Item': 'Banana (1kg) '}, {'Item': 'Oranges (1kg) '}, {'Item': 'Tomato (1kg) '}, {'Item': 'Potato (1kg) '}, {'Item': 'Onion (1kg) '}, {'Item': 'Lettuce (1 head) '}, {'Item': 'Water (1.5 liter bottle) '}, {'Item': 'Bottle of Wine (Mid-Range) '}, {'Item': 'Domestic Beer (0.5 liter bottle) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cigarettes 20 Pack (Marlboro) '}, {'Item': 'One-way Ticket (Local Transport) '}, {'Item': 'Monthly Pass (Regular Price) '}, {'Item': 'Taxi Start (Normal Tariff) '}, {'Item': 'Taxi 1km (Normal Tariff) '}, {'Item': 'Taxi 1hour Waiting (Normal Tariff) '}, {'Item': 'Gasoline (1 liter) '}, {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) '}, {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) '}, {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment '}, {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) '}, {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) '}, {'Item': 'Fitness Club, Monthly Fee for 1 Adult '}, {'Item': 'Tennis Court Rent (1 Hour on Weekend) '}, {'Item': 'Cinema, International Release, 1 Seat '}, {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child '}, {'Item': 'International Primary School, Yearly for 1 Child '}, {'Item': '1 Pair of Jeans (Levis 501 Or Similar) '}, {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) '}, {'Item': '1 Pair of Nike Running Shoes (Mid-Range) '}, {'Item': '1 Pair of Men Leather Business Shoes '}, {'Item': 'Apartment (1 bedroom) in City Centre '}, {'Item': 'Apartment (1 bedroom) Outside of Centre '}, {'Item': 'Apartment (3 bedrooms) in City Centre '}, {'Item': 'Apartment (3 bedrooms) Outside of Centre '}, {'Item': 'Price per Square Meter to Buy Apartment in City Centre '}, {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre '}, {'Item': 'Average Monthly Net Salary (After Tax) '}, {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate '}]
List long 55

In [56]:
#test
#count = 0
#for element in table_country:
#    if element.td is not None:
#        count= count+1
#        print("Element",count,element.td)

In [83]:
#test
#for element in table_country:
#    if element.span is not None  :
#        print(element.span.text)

In [84]:
#Define a funtion to merge 2 lists of dictionaries
def merge_two_dicts(x, y):
    #Merge two dictionaries
    z = x.copy()   # start with keys and values of x
    z.update(y)    # modifies z with keys and values of y
    return z

In [85]:
#validating function
merge_two_dicts(items_list[0],cost_item_list[0])

{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '15.00€'}

In [89]:
#Merging 2 list of dictionaries with function merge_two_dicts
table_costlife = []
print(len(items_list))
print(len(cost_item_list))
for element in range(len(items_list)):
    table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
table_costlife

55
55

[{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '15.00€'},
 {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
  'Cost': '70.00€'},
 {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '9.00€'},
 {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '5.75€'},
 {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '5.50€'},
 {'Item': 'Cappuccino (regular) ', 'Cost': '3.61€'},
 {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.01€'},
 {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.61€'},
 {'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.05€'},
 {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.64€'},
 {'Item': 'Rice (white), (1kg) ', 'Cost': '1.27€'},
 {'Item': 'Eggs (regular) (12) ', 'Cost': '3.06€'},
 {'Item': 'Local Cheese (1kg) ', 'Cost': '8.58€'},
 {'Item': 'Chicken Fillets (1kg) ', 'Cost': '8.89€'},
 {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
  'Cost': '10.52€'},
 {'Item': 'Apples (1kg) ', 'Cost': '2.37€'},
 {'Item': 'Banana (1kg) ', 'Cost': '1.63€'},
 {'Item': 'Oranges (1kg) ', 'Cost': '2.12€'},
 {'Item': 'Tomato (1kg) ', 'Cost': '3.00€'},
 {'Item': 'Potato (1kg) ', 'Cost': '1.37€'},
 {'Item': 'Onion (1kg) ', 'Cost': '1.13€'},
 {'Item': 'Lettuce (1 head) ', 'Cost': '1.07€'},
 {'Item': 'Water (1.5 liter bottle) ', 'Cost': '1.03€'},
 {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '12.00€'},
 {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '2.92€'},
 {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '2.83€'},
 {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '14.70€'},
 {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '2.80€'},
 {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '120.87€'},
 {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '4.00€'},
 {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.50€'},
 {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '25.00€'},
 {'Item': 'Gasoline (1 liter) ', 'Cost': '1.83€'},
 {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
  'Cost': '26,000.00€'},
 {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
  'Cost': '27,827.44€'},
 {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
  'Cost': '177.52€'},
 {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
  'Cost': '0.38€'},
 {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
  'Cost': '52.21€'},
 {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '44.56€'},
 {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '15.15€'},
 {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '12.00€'},
 {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
  'Cost': '1,178.95€'},
 {'Item': 'International Primary School, Yearly for 1 Child ',
  'Cost': '8,415.00€'},
 {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '82.17€'},
 {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
  'Cost': '32.65€'},
 {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '83.44€'},
 {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '95.86€'},
 {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,768.53€'},
 {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '1,481.74€'},
 {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '3,027.59€'},
 {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '2,372.64€'},
 {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
  'Cost': '7,541.56€'},
 {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
  'Cost': '4,504.82€'},
 {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '3,070.96€'},
 {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
  'Cost': '3.18'}]

In [132]:
#Convert list of dictionaries to datafram
df_table_costlife_dublin = pd.DataFrame(table_costlife)
df_table_costlife_dublin = df_table_costlife_dublin.rename(columns ={'Cost':'Dublin Costs'})
df_table_costlife_dublin

                                                 Item Dublin Costs
0                       Meal, Inexpensive Restaurant        12.95€
1   Meal for 2 People, Mid-range Restaurant, Three...       60.00€
2     McMeal at McDonalds (or Equivalent Combo Meal)         7.92€
3                  Domestic Beer (0.5 liter draught)         3.00€
4                  Imported Beer (0.33 liter bottle)         3.50€
5                               Cappuccino (regular)         2.12€
6                     Coke/Pepsi (0.33 liter bottle)         2.16€
7                         Water (0.33 liter bottle)          1.55€
8                          Milk (regular), (1 liter)         0.83€
9                   Loaf of Fresh White Bread (500g)         1.09€
10                               Rice (white), (1kg)         1.12€
11                               Eggs (regular) (12)         2.11€
12                                Local Cheese (1kg)        10.49€
13                             Chicken Fillets (1kg)         6.61€
14  Beef Round (1kg) (or Equivalent Back Leg Red M...       12.41€
15                                      Apples (1kg)         1.91€
16                                      Banana (1kg)         1.64€
17                                     Oranges (1kg)         1.53€
18                                      Tomato (1kg)         1.85€
19                                      Potato (1kg)         1.04€
20                                       Onion (1kg)         1.25€
21                                  Lettuce (1 head)         0.98€
22                          Water (1.5 liter bottle)         0.71€
23                        Bottle of Wine (Mid-Range)         5.17€
24                  Domestic Beer (0.5 liter bottle)         1.05€
25                 Imported Beer (0.33 liter bottle)         1.46€
26                     Cigarettes 20 Pack (Marlboro)         5.15€
27                  One-way Ticket (Local Transport)         1.50€
28                      Monthly Pass (Regular Price)        54.80€
29                        Taxi Start (Normal Tariff)         3.25€
30                          Taxi 1km (Normal Tariff)         1.10€
31                Taxi 1hour Waiting (Normal Tariff)        22.00€
32                                Gasoline (1 liter)         1.56€
33  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...   25,000.00€
34  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...   23,555.00€
35  Basic (Electricity, Heating, Cooling, Water, G...      157.79€
36  1 min. of Prepaid Mobile Tariff Local (No Disc...        0.18€
37  Internet (60 Mbps or More, Unlimited Data, Cab...       36.66€
38             Fitness Club, Monthly Fee for 1 Adult        42.18€
39             Tennis Court Rent (1 Hour on Weekend)        11.04€
40             Cinema, International Release, 1 Seat         9.00€
41  Preschool (or Kindergarten), Full Day, Private...      482.31€
42  International Primary School, Yearly for 1 Child     9,318.18€
43            1 Pair of Jeans (Levis 501 Or Similar)        75.30€
44  1 Summer Dress in a Chain Store (Zara, H&M, ...)        31.20€
45          1 Pair of Nike Running Shoes (Mid-Range)        73.39€
46              1 Pair of Men Leather Business Shoes        95.38€
47              Apartment (1 bedroom) in City Centre     1,018.40€
48           Apartment (1 bedroom) Outside of Centre       784.22€
49             Apartment (3 bedrooms) in City Centre     1,801.05€
50          Apartment (3 bedrooms) Outside of Centre     1,263.60€
51  Price per Square Meter to Buy Apartment in Cit...    4,777.28€
52  Price per Square Meter to Buy Apartment Outsid...    3,410.10€
53            Average Monthly Net Salary (After Tax)     1,801.09€
54  Mortgage Interest Rate in Percentages (%), Yea...         1.92

In [106]:
#Test same code with another city Madrid
#Genetal url to recicle for any city
city1 = 'Madrid'
gurl = 'https://www.numbeo.com/cost-of-living/in/'+city1
#gurl

In [109]:
#Check response 
response = requests.get(gurl)
response

In [110]:
#review response content
response.content

b'<!DOCTYPE html>\n<html lang="en">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n\n<meta property="og:title" content="Cost of Living in Madrid" />\n<meta property="og:description" content="Average prices of more than 40 products and services in Madrid, SpainApr 2022. Prices of restaurants, food, transportation, utilities and housing are included. " />\n<meta property="og:type" content="website"/>\n<meta property="og:url" content="https://www.numbeo.com/cost-of-living/in/Madrid"/>\n<link rel="alternate" hreflang="en" href="https://www.numbeo.com/cost-of-living/in/Madrid" />\n<link rel="alternate" hreflang="de" href="https://de.numbeo.com/lebenshaltungskosten/stadt/Madrid" />\n<link rel="alternate" hreflang="pt" href="https://pt.numbeo.com/custo-de-vida/cidade/Madrid" />\n<link rel="alternate" hreflang="it" href="https://it.numbeo.com/costo-della-vita/citt%C3%A0/Madrid" />\n<link rel="alternate" hreflang="fr" href="https://fr.numbeo.com/co%C3%BBt-de-la-vie/ville/Madrid" />\n<link rel="alternate" hreflang="es" href="https://es.numbeo.com/coste-de-vida/ciudad/Madrid" />\n\n            <script defer src="https://www.numbeo.com/common/numbeo_standard.js"></script>\n    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.min.css" rel="Stylesheet" />\n    <link rel="shortcut icon" type="image/x-icon" href="https://www.numbeo.com/favicon.ico" />\n    <script  defer  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>\n    <script  defer  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>\n   <script src=\'https://www.gstatic.com/charts/loader.js\'></script>\n<link rel="apple-touch-icon" href="https://www.numbeo.com/images/apple-touch-icon.png">\n  <script>\n  if (typeof whenDocReady === "function") {\n    // already declared, do nothing\n  } else {\n    function whenDocReady(fn) {\n      // see if DOM is already available\n      if (document.readyState === "complete" || document.readyState === "interactive") {\n        // call on next available tick\n        setTimeout(fn, 1);\n      } else {\n        document.addEventListener("DOMContentLoaded", fn);\n      }\n    }\n  }\n</script>\n<!-- Global site tag (gtag.js) - Google Analytics -->\n<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10969791-1"></script>\n<script>\n  window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n  gtag(\'js\', new Date());\ngtag(\'config\', \'UA-10969791-1\', {\n  \'custom_map\': {\'dimension1\': \'abTestDesign\'}\n});\n\ngtag(\'event\', \'abTestDesign_dimension\', {\'abTestDesign\': 1, \'non_interaction\': true});\n</script>\n<script data-cfasync="false" async src="https://cdn.snigelweb.com/adengine/numbeo.com/loader.js" type="text/javascript"></script>\n    <link rel="stylesheet" href="https://www.numbeo.com/common/style_desktop_b.css" />\n\n<title>Cost of Living in Madrid. Apr 2022. Prices in Madrid</title>\n\n</head>\n<body>\n<aside>\n<div class="top_ad">\n<div style="display: block; height: 90px; width: 100%; text-align: center">\n<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>\n<!-- ad_in_header3 -->\n<ins class="adsbygoogle"\n     style="display:inline-block;width:728px;height:90px"\n     data-ad-client="ca-pub-8993465169534557"\n     data-ad-slot="7618322317"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n</div>\n</div>\n</aside>\n<nav>\n<div class="logo-and-upper-ad">\n<div class="innerWidth" id="content_and_logo">\n<table style="width: 100%;" >\n<tr>\n<td style="padding-top: 5px; padding-bottom: 7px; vertical-align: bottom;">\n<a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">\n<img src="https://www.numbeo.com/images/numbeo_icon_1B3B6F.svg" style="height: 56px; padding: 0px 0px; vertical-align: bottom; border: 0;" alt="" /><img src="https://www.numbeo.com/images/numbeo_text_1B3B6F.svg" style="height: 40px; margin-left: 1em; margin-bottom: 5px; vertical-align: bottom; border: 0;" alt="NUMBEO" /></a>\n</td>\n<td style="padding-left:60px; padding-top: 1px; padding-bottom: 0px; vertical-align: middle; width: 840px; text-align: left;" >\n<div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">\n<nav style="display: inline-block; vertical-align: middle;">\n<div class="standard_margin_inlineblock" >      <form action="https://www.numbeo.com/common/dispatcher.jsp" method="get" id="menu_dispatch_form"  style="display: inline; padding: 0; margin:0;">\n      <input type="hidden" name="where" value="https://www.numbeo.com/cost-of-living/in/" style="display: inline; padding:0; margin:0;" />\n<input id="city_selector_menu_city_id"  size="27"  type="text" placeholder="Select City" class="city-selector-menu" name="city_selector_menu_city_id" />\n<input type="hidden" id="menu_city_id" name="city_id"/>\n<input type="hidden" id="name_menu_city_id" name="name_city_id"/>\n      </form>\n</div>\n <script>\nwhenDocReady(function() {\n  \tjQuery(\'#city_selector_menu_city_id\').autocomplete({\n  \t  source: \'https://www.numbeo.com/common/CitySearchJson\',\n     minLength: 1,\n     delay: 3,\n     autoFocus: true,\n     select: function(event, ui) {\n         event.preventDefault();\n         $(\'#name_menu_city_id\').val(ui.item.label);\n         $(\'#city_selector_menu_city_id\').val(ui.item.label);\n         $(\'#menu_city_id\').val(ui.item.value);\njQuery(\'#menu_dispatch_form\').submit();     },\n     focus: function(event, ui) {\n         event.preventDefault();\n     }\n\t  })   .keydown(function(e){\n\t    if (e.keyCode === 13){\n      if ($(\'#menu_city_id\').val() == \'\') { \n        e.preventDefault();\n      }\n      var val = $(\'#city_selector_menu_city_id\').val();\n\t\t   $(\'#name_menu_city_id\').val(val);\n\t   }\n  }); // end autocompleter definition\n$(\'#city_selector_menu_city_id\').toggleClass(\'city-selector-menu\');\n$(\'#city_selector_menu_city_id\').toggleClass(\'city-selector-menu\');\n }); // end document ready \n</script>\n</nav>\n</div>\n</td>\n</tr>\n</table>\n</div> <!-- innerWidth in header -->\n</div> <!-- logo-and-upper-ad -->\n</nav>\n<div class="innerWidth">\n<div class="dropdown-outer">\n<nav class="before-nav" >\n    <ul id="nav-one" class="nav">\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/cost-of-living/">Cost Of Living</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/cost-of-living/">Cost Of Living</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/comparison.jsp">Cost of Living Comparison</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/calculator.jsp">Cost of Living Calculator</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">Cost Of Living Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings.jsp">Cost Of Living Index</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/rankings_by_country.jsp">Cost Of Living Index By Country</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/estimator_main">Cost of Living Estimator</a></li>\n    <li><a href="https://www.numbeo.com/food-prices/">Food Prices</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/prices_by_city.jsp">Prices By City</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/prices_by_country.jsp">Prices By Country</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/historical-data-analysis">Historical Data Analysis</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/basket_of_goods.jsp">Basket of Goods and Services</a></li>\n    <li><a href="https://www.numbeo.com/taxi-fare/">Taxi Fare Calculator</a></li>\n    <li><a href="https://www.numbeo.com/gas-prices/">Gas Prices Calculator</a></li>\n    <li><a href="https://www.numbeo.com/common/motivation_and_methodology.jsp">Our Motivation and Methodology</a></li>\n    <li><a href="https://www.numbeo.com/cost-of-living/contribute.jsp">Update Information for Your City</a></li>\n  </ul></li>\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/property-investment/">Property Prices</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/property-investment/">Property Prices</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/comparison.jsp">Property Prices Comparison</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings_current.jsp">Property Price Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings.jsp">Property Price Index</a></li>\n    <li><a href="https://www.numbeo.com/property-investment/rankings_by_country.jsp">Property Price Index By Country</a></li>\n   </ul></li>\n\n\t<li class="dir">\n<a href="https://www.numbeo.com/quality-of-life/">Quality Of Life</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/quality-of-life/">Quality of Life</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/comparison.jsp">Quality of Life Comparisons</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings_current.jsp">Quality of Life Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings.jsp">Quality of Life Index</a></li>\n    <li><a href="https://www.numbeo.com/quality-of-life/rankings_by_country.jsp">Quality of Life Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/crime/">Crime</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings_current.jsp">Crime Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings.jsp">Crime Index</a></li>\n    <li><a href="https://www.numbeo.com/crime/rankings_by_country.jsp">Crime Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/health-care/">Health Care</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings_current.jsp">Health Care Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings.jsp">Health Care Index</a></li>\n    <li><a href="https://www.numbeo.com/health-care/rankings_by_country.jsp">Health Care Index by Country</a></li>\n    <li><a href="https://www.numbeo.com/pollution/">Pollution</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings_current.jsp">Pollution Index (Current)</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings.jsp">Pollution Index</a></li>\n    <li><a href="https://www.numbeo.com/pollution/rankings_by_country.jsp">Pollution Index by Country</a></li>\n     <li><a href="https://www.numbeo.com/traffic/">Traffic</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings_current.jsp">Traffic Index (Current)</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings.jsp">Traffic Index</a></li>\n     <li><a href="https://www.numbeo.com/traffic/rankings_by_country.jsp">Traffic Index by Country</a></li>\n\t</ul></li>\n\t<li class="dir">\n<a href="https://www.numbeo.com/premium/index">Premium</a>\n  <ul>\n    <li><a href="https://www.numbeo.com/premium/commercial-license">Commercial License</a></li>\n    <li><a href="https://www.numbeo.com/premium/">Insights</a></li>\n    <li><a href="https://www.numbeo.com/common/api.jsp">API</a></li>\n\t</ul></li>\n\t<li class="dir">\n<a href="https://jobs.numbeo.com/jobs/">Jobs</a>\n  <ul>\n    <li><a href="https://jobs.numbeo.com/jobs/remote-jobs">Remote Jobs</a></li>\n    <li><a href="https://jobs.numbeo.com/jobs/jobs-with-relocation">Jobs with Relocation</a></li>\n    <li><a href="https://jobs.numbeo.com/jobs/post-job">Post Jobs</a></li>\n\t</ul></li>\n\n\n</ul>\n<br style="clear: both"/>\n</nav>\n</div> <!-- dropdown-outer -->\n</div> <!-- innerWidth -->\n<div class="innerWidth">\n <div class="right-ads-and-info">\n <div class="right-ads">\n<div style="width: 300px; height: 251px">\n\n<!-- adngin-ad_float_right-0 -->\n<div id="adngin-ad_float_right-0"></div>\n\n</div>\n\n </div>\n </div>\n<p>\n<nav itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">\n<a href="https://www.numbeo.com/common/" class="discreet_link"><img src="https://www.numbeo.com/images/home.png" class="image_without_border hide_smaller_than_600" alt="home"/></a><span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n<a href="https://www.numbeo.com/cost-of-living/" itemprop="item" class="breadcrumb_link"><span itemprop="name">Cost of Living</span></a><meta itemprop="position" content="1" />\n</span> <span style="font-size: 75%; display: inline-block;">&gt;</span> <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n <a href="https://www.numbeo.com/cost-of-living/country_result.jsp?country=Spain"  itemprop="item"  class="breadcrumb_link"><span itemprop="name">Spain</span></a><meta itemprop="position" content="2" />\n</span> <span style="font-size: 75%; display: inline-block;">&gt;</span> <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">\n<a href="https://www.numbeo.com/cost-of-living/in/Madrid"  itemprop="item"  class="breadcrumb_link">\n<span itemprop="name">Madrid</span></a><meta itemprop="position" content="3" />\n</span></nav>\n    <h1> Cost of Living in Madrid</h1>\n\n\n<!-- Column 1 start -->\n\n\n<nav class="comparison_nav" id="comparison_nav">\n<div class="standard_margin standard_margin_left_right" >\n      <form action="https://www.numbeo.com/common/dispatcher.jsp" method="get" id="dispatch_form" class="dispatch_form">\n      <input type="hidden" name="where" value="https://www.numbeo.com/cost-of-living/compare_cities.jsp" style="display: inline; padding:0; margin:0;" />\n      <input type="hidden" name="city_id2" id="city_id2" value="6310"/>\n Compare Madrid  with: <input id="city_selector_city_id1" size="26" type="text" placeholder="Type and Pick City"  autocomplete="off"/>\n<input type="hidden" id="city_id1" name="city_id1" />\n<input type="hidden" id="name_city_id1" name="name_city_id1" />\n      <input type="hidden" name="tracking" value="getDispatchComparison" />\n      </form>\n <script>\nwhenDocReady(function() {\n  \tjQuery(\'#city_selector_city_id1\').autocomplete({\n  \t  source: \'https://www.numbeo.com/common/CitySearchJson\',\n     minLength: 1,\n     delay: 3,\n     autoFocus: true,\n     select: function(event, ui) {\n         event.preventDefault();\n         $(\'#name_city_id1\').val(ui.item.label);\n         $(\'#city_selector_city_id1\').val(ui.item.label);\n         $(\'#city_id1\').val(ui.item.value);\njQuery(\'#dispatch_form\').submit();     },\n     focus: function(event, ui) {\n         event.preventDefault();\n     }\n\t  })   .keydown(function(e){\n\t    if (e.keyCode === 13){\n      if ($(\'#city_id1\').val() == \'\') { \n        e.preventDefault();\n      }\n      var val = $(\'#city_selector_city_id1\').val();\n\t\t   $(\'#name_city_id1\').val(val);\n\t   }\n  }); // end autocompleter definition\n }); // end document ready \n</script>\n</div> \n</nav>\n\n<div class="seeding-call table_color summary limit_size_ad_right padding_lower other_highlight_color">\n<p><span style="font-weight: 600;">Summary</span> about cost of living in <span class="purple_light">Madrid, Spain</span>:<ul><li>Family of four estimated monthly costs are <span class="emp_number">2,550.83&#8364;</span> without rent (using <a href="https://www.numbeo.com/cost-of-living/city-estimator/in/Madrid" class="">our estimator)</a>.</li><li>A single person estimated monthly costs are <span class="emp_number">725.02&#8364;</span> without rent.</li><li><span class="purple_light">Madrid</span> is <span class="emp_number">22.82%<span class="green_light"> less</span></span> expensive than <span class="rose_light">Dublin</span> (without rent, see our <a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">cost of living index</a>).</li><li>Rent in <span class="purple_light">Madrid</span> is, on average, <span class="emp_number">43.73%<span class="green_light"> lower</span></span> than in <span class="rose_light">Dublin</span>.</li></ul></div>\n\n<aside><div class="seeding-call disabled_on_small_devices">\n<span class="do_you_live_in">\n    Do you live in <span class="purple_light">Madrid</span>? <span class="we_need_your_help"><a href="https://www.numbeo.com/common/form.jsp?country=Spain&amp;city=Madrid&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FMadrid&amp;tracking=standardEnterData" rel="nofollow" class="enterDataA">Add data for Madrid! </a></span></span></div></aside>\n\n\n<nav>\n<form action="https://www.numbeo.com/cost-of-living/in/Madrid" method="get" class="standard_margin standard_margin_left_right change_currency_form">\nCurrency:          <select id="displayCurrency" name="displayCurrency" onchange="if (checkSelectedSomeTextNotDashed(\'displayCurrency\')) this.form.submit();">\n             <option value="EUR" selected="selected">EUR</option>\n             <option value="USD">USD</option>\n             <option value="---">---</option>\n             <option value="AED">AED</option>\n             <option value="AFN">AFN</option>\n             <option value="ALL">ALL</option>\n             <option value="AMD">AMD</option>\n             <option value="ANG">ANG</option>\n             <option value="AOA">AOA</option>\n             <option value="AUD">AUD</option>\n             <option value="AWG">AWG</option>\n             <option value="AZN">AZN</option>\n             <option value="BAM">BAM</option>\n             <option value="BBD">BBD</option>\n             <option value="BDT">BDT</option>\n             <option value="BGN">BGN</option>\n             <option value="BHD">BHD</option>\n             <option value="BIF">BIF</option>\n             <option value="BMD">BMD</option>\n             <option value="BND">BND</option>\n             <option value="BOB">BOB</option>\n             <option value="BRL">BRL</option>\n             <option value="BSD">BSD</option>\n             <option value="BTN">BTN</option>\n             <option value="BWP">BWP</option>\n             <option value="BYN">BYN</option>\n             <option value="BZD">BZD</option>\n             <option value="CAD">CAD</option>\n             <option value="CDF">CDF</option>\n             <option value="CHF">CHF</option>\n             <option value="CLF">CLF</option>\n             <option value="CLP">CLP</option>\n             <option value="CNH">CNH</option>\n             <option value="CNY">CNY</option>\n             <option value="COP">COP</option>\n             <option value="CRC">CRC</option>\n             <option value="CUC">CUC</option>\n             <option value="CVE">CVE</option>\n             <option value="CZK">CZK</option>\n             <option value="DJF">DJF</option>\n             <option value="DKK">DKK</option>\n             <option value="DOP">DOP</option>\n             <option value="DZD">DZD</option>\n             <option value="EGP">EGP</option>\n             <option value="ERN">ERN</option>\n             <option value="EUR">EUR</option>\n             <option value="FJD">FJD</option>\n             <option value="FKP">FKP</option>\n             <option value="GBP">GBP</option>\n             <option value="GEL">GEL</option>\n             <option value="GGP">GGP</option>\n             <option value="GHS">GHS</option>\n             <option value="GIP">GIP</option>\n             <option value="GMD">GMD</option>\n             <option value="GNF">GNF</option>\n             <option value="GTQ">GTQ</option>\n             <option value="GYD">GYD</option>\n             <option value="HKD">HKD</option>\n             <option value="HNL">HNL</option>\n             <option value="HRK">HRK</option>\n             <option value="HTG">HTG</option>\n             <option value="HUF">HUF</option>\n             <option value="IDR">IDR</option>\n             <option value="ILS">ILS</option>\n     

In [111]:
#We make the soupo from the content
soup = BeautifulSoup(response.content)

In [199]:
#to get the costs for items
table_country = soup.find_all('span', {'class':'first_currency'})
#table_country

In [117]:
cost_item_list = []
for element in table_country:
    #print(element.text)
    cost_item_list.append({'Cost':element.text.replace('\xa0','')})
    #print(".................................................................")
    
print(cost_item_list)
print("List long",len(cost_item_list))

[{'Cost': '12.95€'}, {'Cost': '60.00€'}, {'Cost': '7.92€'}, {'Cost': '3.00€'}, {'Cost': '3.50€'}, {'Cost': '2.12€'}, {'Cost': '2.16€'}, {'Cost': '1.55€'}, {'Cost': '0.83€'}, {'Cost': '1.09€'}, {'Cost': '1.12€'}, {'Cost': '2.11€'}, {'Cost': '10.49€'}, {'Cost': '6.61€'}, {'Cost': '12.41€'}, {'Cost': '1.91€'}, {'Cost': '1.64€'}, {'Cost': '1.53€'}, {'Cost': '1.85€'}, {'Cost': '1.04€'}, {'Cost': '1.25€'}, {'Cost': '0.98€'}, {'Cost': '0.71€'}, {'Cost': '5.17€'}, {'Cost': '1.05€'}, {'Cost': '1.46€'}, {'Cost': '5.15€'}, {'Cost': '1.50€'}, {'Cost': '54.80€'}, {'Cost': '3.25€'}, {'Cost': '1.10€'}, {'Cost': '22.00€'}, {'Cost': '1.56€'}, {'Cost': '25,000.00€'}, {'Cost': '23,555.00€'}, {'Cost': '157.79€'}, {'Cost': '0.18€'}, {'Cost': '36.66€'}, {'Cost': '42.18€'}, {'Cost': '11.04€'}, {'Cost': '9.00€'}, {'Cost': '482.31€'}, {'Cost': '9,318.18€'}, {'Cost': '75.30€'}, {'Cost': '31.20€'}, {'Cost': '73.39€'}, {'Cost': '95.38€'}, {'Cost': '1,018.40€'}, {'Cost': '784.22€'}, {'Cost': '1,801.05€'}, {'Cost': '1,263.60€'}, {'Cost': '4,777.28€'}, {'Cost': '3,410.10€'}, {'Cost': '1,801.09€'}, {'Cost': '1.92'}]
List long 55

In [201]:
# Lets bring the table items column soup
table_city = soup.find_all('tr')
#table_city

In [120]:
# Loop and extraxt row from tables items names
count = 0
items_list = []
for element in table_city[1:66]:
    count= count+1
    if element.td is not None and element.td != "":
        #print("elemento",count,":  ",element.td.text)
        #print(".................................................................")
        items_list.append({'Item':element.td.text})
print(items_list)
print("List long",len(items_list))

[{'Item': 'Meal, Inexpensive Restaurant '}, {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course '}, {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) '}, {'Item': 'Domestic Beer (0.5 liter draught) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cappuccino (regular) '}, {'Item': 'Coke/Pepsi (0.33 liter bottle) '}, {'Item': 'Water (0.33 liter bottle)  '}, {'Item': 'Milk (regular), (1 liter) '}, {'Item': 'Loaf of Fresh White Bread (500g) '}, {'Item': 'Rice (white), (1kg) '}, {'Item': 'Eggs (regular) (12) '}, {'Item': 'Local Cheese (1kg) '}, {'Item': 'Chicken Fillets (1kg) '}, {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) '}, {'Item': 'Apples (1kg) '}, {'Item': 'Banana (1kg) '}, {'Item': 'Oranges (1kg) '}, {'Item': 'Tomato (1kg) '}, {'Item': 'Potato (1kg) '}, {'Item': 'Onion (1kg) '}, {'Item': 'Lettuce (1 head) '}, {'Item': 'Water (1.5 liter bottle) '}, {'Item': 'Bottle of Wine (Mid-Range) '}, {'Item': 'Domestic Beer (0.5 liter bottle) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cigarettes 20 Pack (Marlboro) '}, {'Item': 'One-way Ticket (Local Transport) '}, {'Item': 'Monthly Pass (Regular Price) '}, {'Item': 'Taxi Start (Normal Tariff) '}, {'Item': 'Taxi 1km (Normal Tariff) '}, {'Item': 'Taxi 1hour Waiting (Normal Tariff) '}, {'Item': 'Gasoline (1 liter) '}, {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) '}, {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) '}, {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment '}, {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) '}, {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) '}, {'Item': 'Fitness Club, Monthly Fee for 1 Adult '}, {'Item': 'Tennis Court Rent (1 Hour on Weekend) '}, {'Item': 'Cinema, International Release, 1 Seat '}, {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child '}, {'Item': 'International Primary School, Yearly for 1 Child '}, {'Item': '1 Pair of Jeans (Levis 501 Or Similar) '}, {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) '}, {'Item': '1 Pair of Nike Running Shoes (Mid-Range) '}, {'Item': '1 Pair of Men Leather Business Shoes '}, {'Item': 'Apartment (1 bedroom) in City Centre '}, {'Item': 'Apartment (1 bedroom) Outside of Centre '}, {'Item': 'Apartment (3 bedrooms) in City Centre '}, {'Item': 'Apartment (3 bedrooms) Outside of Centre '}, {'Item': 'Price per Square Meter to Buy Apartment in City Centre '}, {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre '}, {'Item': 'Average Monthly Net Salary (After Tax) '}, {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate '}]
List long 55

In [121]:
#Merging 2 list of dictionaries with function merge_two_dicts
table_costlife = []
print(len(items_list))
print(len(cost_item_list))
for element in range(len(items_list)):
    table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
table_costlife

55
55

[{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '12.95€'},
 {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
  'Cost': '60.00€'},
 {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '7.92€'},
 {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '3.00€'},
 {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '3.50€'},
 {'Item': 'Cappuccino (regular) ', 'Cost': '2.12€'},
 {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.16€'},
 {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.55€'},
 {'Item': 'Milk (regular), (1 liter) ', 'Cost': '0.83€'},
 {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.09€'},
 {'Item': 'Rice (white), (1kg) ', 'Cost': '1.12€'},
 {'Item': 'Eggs (regular) (12) ', 'Cost': '2.11€'},
 {'Item': 'Local Cheese (1kg) ', 'Cost': '10.49€'},
 {'Item': 'Chicken Fillets (1kg) ', 'Cost': '6.61€'},
 {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
  'Cost': '12.41€'},
 {'Item': 'Apples (1kg) ', 'Cost': '1.91€'},
 {'Item': 'Banana (1kg) ', 'Cost': '1.64€'},
 {'Item': 'Oranges (1kg) ', 'Cost': '1.53€'},
 {'Item': 'Tomato (1kg) ', 'Cost': '1.85€'},
 {'Item': 'Potato (1kg) ', 'Cost': '1.04€'},
 {'Item': 'Onion (1kg) ', 'Cost': '1.25€'},
 {'Item': 'Lettuce (1 head) ', 'Cost': '0.98€'},
 {'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.71€'},
 {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '5.17€'},
 {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '1.05€'},
 {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '1.46€'},
 {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '5.15€'},
 {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '1.50€'},
 {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '54.80€'},
 {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '3.25€'},
 {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.10€'},
 {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '22.00€'},
 {'Item': 'Gasoline (1 liter) ', 'Cost': '1.56€'},
 {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
  'Cost': '25,000.00€'},
 {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
  'Cost': '23,555.00€'},
 {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
  'Cost': '157.79€'},
 {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
  'Cost': '0.18€'},
 {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
  'Cost': '36.66€'},
 {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '42.18€'},
 {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '11.04€'},
 {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '9.00€'},
 {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
  'Cost': '482.31€'},
 {'Item': 'International Primary School, Yearly for 1 Child ',
  'Cost': '9,318.18€'},
 {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '75.30€'},
 {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
  'Cost': '31.20€'},
 {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '73.39€'},
 {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '95.38€'},
 {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,018.40€'},
 {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '784.22€'},
 {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '1,801.05€'},
 {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '1,263.60€'},
 {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
  'Cost': '4,777.28€'},
 {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
  'Cost': '3,410.10€'},
 {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '1,801.09€'},
 {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
  'Cost': '1.92'}]

In [131]:
#Convert list of dictionaries to datafram
df_table_costlife_madrid = pd.DataFrame(table_costlife)
df_table_costlife_madrid = df_table_costlife_madrid.rename(columns ={'Cost':'Madrid Costs'})
df_table_costlife_madrid

                                                 Item Madrid Costs
0                       Meal, Inexpensive Restaurant        12.95€
1   Meal for 2 People, Mid-range Restaurant, Three...       60.00€
2     McMeal at McDonalds (or Equivalent Combo Meal)         7.92€
3                  Domestic Beer (0.5 liter draught)         3.00€
4                  Imported Beer (0.33 liter bottle)         3.50€
5                               Cappuccino (regular)         2.12€
6                     Coke/Pepsi (0.33 liter bottle)         2.16€
7                         Water (0.33 liter bottle)          1.55€
8                          Milk (regular), (1 liter)         0.83€
9                   Loaf of Fresh White Bread (500g)         1.09€
10                               Rice (white), (1kg)         1.12€
11                               Eggs (regular) (12)         2.11€
12                                Local Cheese (1kg)        10.49€
13                             Chicken Fillets (1kg)         6.61€
14  Beef Round (1kg) (or Equivalent Back Leg Red M...       12.41€
15                                      Apples (1kg)         1.91€
16                                      Banana (1kg)         1.64€
17                                     Oranges (1kg)         1.53€
18                                      Tomato (1kg)         1.85€
19                                      Potato (1kg)         1.04€
20                                       Onion (1kg)         1.25€
21                                  Lettuce (1 head)         0.98€
22                          Water (1.5 liter bottle)         0.71€
23                        Bottle of Wine (Mid-Range)         5.17€
24                  Domestic Beer (0.5 liter bottle)         1.05€
25                 Imported Beer (0.33 liter bottle)         1.46€
26                     Cigarettes 20 Pack (Marlboro)         5.15€
27                  One-way Ticket (Local Transport)         1.50€
28                      Monthly Pass (Regular Price)        54.80€
29                        Taxi Start (Normal Tariff)         3.25€
30                          Taxi 1km (Normal Tariff)         1.10€
31                Taxi 1hour Waiting (Normal Tariff)        22.00€
32                                Gasoline (1 liter)         1.56€
33  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...   25,000.00€
34  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...   23,555.00€
35  Basic (Electricity, Heating, Cooling, Water, G...      157.79€
36  1 min. of Prepaid Mobile Tariff Local (No Disc...        0.18€
37  Internet (60 Mbps or More, Unlimited Data, Cab...       36.66€
38             Fitness Club, Monthly Fee for 1 Adult        42.18€
39             Tennis Court Rent (1 Hour on Weekend)        11.04€
40             Cinema, International Release, 1 Seat         9.00€
41  Preschool (or Kindergarten), Full Day, Private...      482.31€
42  International Primary School, Yearly for 1 Child     9,318.18€
43            1 Pair of Jeans (Levis 501 Or Similar)        75.30€
44  1 Summer Dress in a Chain Store (Zara, H&M, ...)        31.20€
45          1 Pair of Nike Running Shoes (Mid-Range)        73.39€
46              1 Pair of Men Leather Business Shoes        95.38€
47              Apartment (1 bedroom) in City Centre     1,018.40€
48           Apartment (1 bedroom) Outside of Centre       784.22€
49             Apartment (3 bedrooms) in City Centre     1,801.05€
50          Apartment (3 bedrooms) Outside of Centre     1,263.60€
51  Price per Square Meter to Buy Apartment in Cit...    4,777.28€
52  Price per Square Meter to Buy Apartment Outsid...    3,410.10€
53            Average Monthly Net Salary (After Tax)     1,801.09€
54  Mortgage Interest Rate in Percentages (%), Yea...         1.92

In [301]:
#Convert list of dictionaries to datafram
df_table_costlife_madrid = pd.DataFrame(table_costlife)
df_table_costlife_madrid = df_table_costlife_madrid.rename(columns ={'Cost':f'Cost {city}'})
df_table_costlife_madrid

                                                 Item Cost Lisbon
0                       Meal, Inexpensive Restaurant       10.00€
1   Meal for 2 People, Mid-range Restaurant, Three...      40.00€
2     McMeal at McDonalds (or Equivalent Combo Meal)        7.00€
3                  Domestic Beer (0.5 liter draught)        2.00€
4                  Imported Beer (0.33 liter bottle)        2.50€
5                               Cappuccino (regular)        1.50€
6                     Coke/Pepsi (0.33 liter bottle)        1.33€
7                         Water (0.33 liter bottle)         1.00€
8                          Milk (regular), (1 liter)        0.67€
9                   Loaf of Fresh White Bread (500g)        0.92€
10                               Rice (white), (1kg)        0.95€
11                               Eggs (regular) (12)        1.67€
12                                Local Cheese (1kg)        7.27€
13                             Chicken Fillets (1kg)        4.71€
14  Beef Round (1kg) (or Equivalent Back Leg Red M...       8.14€
15                                      Apples (1kg)        1.71€
16                                      Banana (1kg)        1.05€
17                                     Oranges (1kg)        1.27€
18                                      Tomato (1kg)        1.63€
19                                      Potato (1kg)        0.88€
20                                       Onion (1kg)        1.07€
21                                  Lettuce (1 head)        0.96€
22                          Water (1.5 liter bottle)        0.55€
23                        Bottle of Wine (Mid-Range)        4.00€
24                  Domestic Beer (0.5 liter bottle)        0.95€
25                 Imported Beer (0.33 liter bottle)        1.63€
26                     Cigarettes 20 Pack (Marlboro)        5.20€
27                  One-way Ticket (Local Transport)        1.55€
28                      Monthly Pass (Regular Price)       40.00€
29                        Taxi Start (Normal Tariff)        3.70€
30                          Taxi 1km (Normal Tariff)        0.47€
31                Taxi 1hour Waiting (Normal Tariff)       14.90€
32                                Gasoline (1 liter)        2.02€
33  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  26,500.00€
34  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  28,440.00€
35  Basic (Electricity, Heating, Cooling, Water, G...     117.98€
36  1 min. of Prepaid Mobile Tariff Local (No Disc...       0.17€
37  Internet (60 Mbps or More, Unlimited Data, Cab...      34.68€
38             Fitness Club, Monthly Fee for 1 Adult       32.17€
39             Tennis Court Rent (1 Hour on Weekend)       12.00€
40             Cinema, International Release, 1 Seat        7.00€
41  Preschool (or Kindergarten), Full Day, Private...     392.37€
42  International Primary School, Yearly for 1 Child    9,059.50€
43            1 Pair of Jeans (Levis 501 Or Similar)       77.79€
44  1 Summer Dress in a Chain Store (Zara, H&M, ...)       30.50€
45          1 Pair of Nike Running Shoes (Mid-Range)       74.60€
46              1 Pair of Men Leather Business Shoes       81.88€
47              Apartment (1 bedroom) in City Centre      833.75€
48           Apartment (1 bedroom) Outside of Centre      640.70€
49             Apartment (3 bedrooms) in City Centre    1,697.00€
50          Apartment (3 bedrooms) Outside of Centre    1,092.87€
51  Price per Square Meter to Buy Apartment in Cit...   4,848.93€
52  Price per Square Meter to Buy Apartment Outsid...   2,835.92€
53            Average Monthly Net Salary (After Tax)    1,042.00€
54  Mortgage Interest Rate in Percentages (%), Yea...        2.13

In [ ]:
# Extracting Summary about cost of living table for Dubli

In [490]:
#Genetal url to recicle for any city
city1 = 'Dublin'
gurl = 'https://www.numbeo.com/cost-of-living/in/'+city1

In [491]:
response = requests.get(url)
soup = BeautifulSoup(response.content)
table_country = soup.find_all('span', {'class':'emp_number'})
table_country[0:2]

[<span class="emp_number">3,238.29€</span>,
 <span class="emp_number">914.70€</span>]

In [492]:
#Summary as ditinary
summary_table_cost = []
for element in table_country[0:2]:
    summary_table_cost.append({'Cost':element.text})
summary_table_cost

[{'Cost': '3,238.29€'}, {'Cost': '914.70€'}]

In [493]:
#Summary as list to LOOK BY CITY
summary_table_cost = []
for element in table_country[0:2]:
    summary_table_cost.append(element.text)
summary_table_cost

['3,238.29€', '914.70€']

In [554]:
#Summary as list to LOOK BY CITY
summary_table_cost = []
for element in table_country[0:2]:
    element = element.replace('€','')
    summary_table_cost.append(element.text)
summary_table_cost

TypeError: 'NoneType' object is not callable

In [263]:
#note aply regege to take out number and special characters
response = requests.get(url)
soup = BeautifulSoup(response.content)
#summary_table_text = soup.find_all('div',{'class':'seeding-call table_color summary limit_size_ad_right padding_lower other_highlight_color'})
summary_table_text = soup.find_all('ul')
a  = summary_table_text[6] 
table =a.find_all('li')
table[0].text
#len(table)

'Family of four estimated monthly costs are 3,239.23€ without rent (using our estimator).'

In [275]:
#subjectString.replaceAll("\\P{L}", " ") into a Dictionary
#re.sub('[^A-Za-z0-9]+ ', '', mystring)
summary_table = []
for element in table[0:2]:
    element = re.sub(r'([^a-zA-Z\s]+?)', '', element.text)
    element =element.replace(' are  ', ', ')
    summary_table.append({'Summary':element})
summary_table

[{'Summary': 'Family of four estimated monthly costs, without rent using our estimator'},
 {'Summary': 'A single person estimated monthly costs, without rent'}]

In [494]:
#Crate list  LOOK BY CITY
summary_table = []
for element in table[0:2]:
    element = re.sub(r'([^a-zA-Z\s]+?)', '', element.text)
    element =element.replace(' are  ', ', ')
    summary_table.append(element)
summary_table

['Family of four estimated monthly costs, without rent using our estimator',
 'A single person estimated monthly costs, without rent']

In [392]:
#TEST
#subjectString.replaceAll("\\P{L}", " ")
#re.sub('[^A-Za-z0-9]+ ', '', mystring)
summary_table = []
for element in table[0:2]:
    element = re.sub(r'([^a-zA-Z\s]+?)', '', element.text)
    element =element.replace(' are  ', ', ')
    summary_table.append({'Country':citylink[0],'Summary':element})
summary_table

[{'Country': 'Lisbon',
  'Summary': 'Family of four estimated monthly costs, without rent using our estimator'},
 {'Country': 'Lisbon',
  'Summary': 'A single person estimated monthly costs, without rent'}]

In [277]:
#Merging 2 list of dictionaries with function merge_two_dicts
table_summary = []
print(len(summary_table))
print(len(summary_table_cost))
for element in range(len(summary_table)):
    table_summary.append(merge_two_dicts(summary_table[element],summary_table_cost[element]))
table_summary

2
2

[{'Summary': 'Family of four estimated monthly costs, without rent using our estimator',
  'Cost': '3,239.23€'},
 {'Summary': 'A single person estimated monthly costs, without rent',
  'Cost': '914.92€'}]

In [278]:
#Convert list of dictionaries to datafram
df_summary_table = pd.DataFrame(table_summary)
#df_table_costlife_madrid = df_table_costlife_madrid.rename(columns ={'Cost':'Madrid Costs'})
df_summary_table

                                             Summary       Cost
0  Family of four estimated monthly costs, withou...  3,239.23€
1  A single person estimated monthly costs, witho...    914.92€

In [279]:
#list of cities to scrap
cities = ['Dublin','Amsterdam','Madrid','Paris','Berlin','Milan','London','Barcelona','Frankfurt','Lisbon']

In [375]:
#loop to get all the urls to scrap
cities_urls =[]
for city in cities:
    cities_urls.append('https://www.numbeo.com/cost-of-living/in/'+city)
cities_urls

['https://www.numbeo.com/cost-of-living/in/Dublin',
 'https://www.numbeo.com/cost-of-living/in/Amsterdam',
 'https://www.numbeo.com/cost-of-living/in/Madrid',
 'https://www.numbeo.com/cost-of-living/in/Paris',
 'https://www.numbeo.com/cost-of-living/in/Berlin',
 'https://www.numbeo.com/cost-of-living/in/Milan',
 'https://www.numbeo.com/cost-of-living/in/London',
 'https://www.numbeo.com/cost-of-living/in/Barcelona',
 'https://www.numbeo.com/cost-of-living/in/Frankfurt',
 'https://www.numbeo.com/cost-of-living/in/Lisbon']

In [289]:
#headers allow you to "pretend" to be a web browser
headers= {'Accept-Encoding':'gzip, deflate',
          'Accept-Language':'en-US,en;q=0.9',
          'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}

In [376]:
#loop to extract the tables cost life in a list as dictionary
cost_life_list = []
cities_urls = ['https://www.numbeo.com/cost-of-living/in/'+city for city in cities ] 

#Loop to get a list of tables for cost life

for citylink in cities_urls:
    time.sleep(random.randint(0,5)) # get random seconds
    #print (citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table ITEMS column soup
        table_city = soup.find_all('tr')
        
        #Temporary list to store ITEMS for each city the items 
        items_list = [] 
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table_city[1:66]:
            if element.td is not None and element.td != "":
                items_list.append({'Item':element.td.text})
        
        # Lets bring the table COST column soup
        table_country = soup.find_all('span', {'class':'first_currency'})

        #Temporary list to store COST for each city the items 
        cost_item_list = []
        
        #loop the soup to get the COST and store it in the temp list 
        for element in table_country:
            cost_item_list.append({'Cost':element.text.replace('\xa0','')})

        #Merging 2 list of dictionaries with function merge_two_dicts
        table_costlife = []
        for element in range(len(items_list)):
            table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
        #table_costlife

        #Add each city list into another list                
        cost_life_list.append(table_costlife)
        
      
    except:
        pass
    
cost_life_list            
#print(len(cost_life_list))

[[{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '15.00€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '70.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '9.00€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '5.75€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '5.50€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '3.61€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.01€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.61€'},
  {'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.05€'},
  {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.64€'},
  {'Item': 'Rice (white), (1kg) ', 'Cost': '1.27€'},
  {'Item': 'Eggs (regular) (12) ', 'Cost': '3.06€'},
  {'Item': 'Local Cheese (1kg) ', 'Cost': '8.58€'},
  {'Item': 'Chicken Fillets (1kg) ', 'Cost': '8.89€'},
  {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '10.52€'},
  {'Item': 'Apples (1kg) ', 'Cost': '2.37€'},
  {'Item': 'Banana (1kg) ', 'Cost': '1.63€'},
  {'Item': 'Oranges (1kg) ', 'Cost': '2.12€'},
  {'Item': 'Tomato (1kg) ', 'Cost': '3.00€'},
  {'Item': 'Potato (1kg) ', 'Cost': '1.37€'},
  {'Item': 'Onion (1kg) ', 'Cost': '1.13€'},
  {'Item': 'Lettuce (1 head) ', 'Cost': '1.07€'},
  {'Item': 'Water (1.5 liter bottle) ', 'Cost': '1.03€'},
  {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '12.00€'},
  {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '2.92€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '2.90€'},
  {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '14.70€'},
  {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '2.80€'},
  {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '120.87€'},
  {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '4.00€'},
  {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.50€'},
  {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '25.00€'},
  {'Item': 'Gasoline (1 liter) ', 'Cost': '1.83€'},
  {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '26,000.00€'},
  {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '27,827.44€'},
  {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '177.52€'},
  {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.38€'},
  {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '52.40€'},
  {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '44.56€'},
  {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '15.15€'},
  {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '12.00€'},
  {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '1,178.95€'},
  {'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '8,415.00€'},
  {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '82.17€'},
  {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '32.65€'},
  {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '83.44€'},
  {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '95.86€'},
  {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,768.53€'},
  {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '1,476.21€'},
  {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '3,027.59€'},
  {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '2,372.64€'},
  {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '7,541.56€'},
  {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '4,504.82€'},
  {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '3,070.96€'},
  {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '3.18'}],
 [{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '17.00€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '80.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '9.00€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '5.74€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '5.00€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '3.50€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.68€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '2.51€'},
  {'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.08€'},
  {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.64€'},
  {'Item': 'Rice (white), (1kg) ', 'Cost': '1.75€'},
  {'Item': 'Eggs (regular) (12) ', 'Cost': '2.76€'},
  {'Item': 'Local Cheese (1kg) ', 'Cost': '10.99€'},
  {'Item': 'Chicken Fillets (1kg) ', 'Cost': '7.91€'},
  {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '24.78€'},
  {'Item': 'Apples (1kg) ', 'Cost': '2.33€'},
  {'Item': 'Banana (1kg) ', 'Cost': '1.70€'},
  {'Item': 'Oranges (1kg) ', 'Cost': '1.60€'},
  {'Item': 'Tomato (1kg) ', 'Cost': '2.82€'},
  {'Item': 'Potato (1kg) ', 'Cost': '1.23€'},
  {'Item': 'Onion (1kg) ', 'Cost': '0.90€'},
  {'Item': 'Lettuce (1 head) ', 'Cost': '0.82€'},
  {'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.92€'},
  {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '5.99€'},
  {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '1.23€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '1.81€'},
  {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '8.20€'},
  {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '3.23€'},
  {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '100.00€'},
  {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '5.00€'},
  {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '2.40€'},
  {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '45.00€'},
  {'Item': 'Gasoline (1 liter) ', 'Cost': '2.14€'},
  {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '26,890.00€'},
  {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '28,924.29€'},
  {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '201.10€'},
  {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.12€'},
  {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '45.92€'},
  {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '46.74€'},
  {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '23.33€'},
  {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '12.00€'},
  {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '1,925.05€'},
  {'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '15,717.50€'},
  {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '86.17€'},
  {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '41.90€'},
  {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '92.12€'},
  {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '146.00€'},
  {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,574.37€'},
  {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '1,286.59€'},
  {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '2,718.74€'},
  {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '2,024.12€'},
  {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '8,982.52€'},
  {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '5,914.29€'},
  {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '3,449.91€'},
  {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.92'}],
 [{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '12.95€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '60.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '7.92€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '3.00€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '3.50€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '2.12€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.16€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.55€'},
  {'Item': 'Milk (regular), (1 liter) ', 'Cost': '0.83€'},
  {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.09€'},
  {'Item': 'Rice (white), (1kg) ', 'Cost': '1.12€'},
  {'Item': 'Eggs (regular) (12) ', 'Cost': '2.11€'},
  {'Item': 'Local Cheese (1kg) ', 'Cost': '10.49€'},
  {'Item': 'Chicken Fillets (1kg) ', 'Cost': '6.61€'},
  {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '12.41€'},
  {'Item': 'Apples (1kg) ', 'Cost': '1.91€'},
  {'Item': 'Banana (1kg) ', 'Cost': '1.64€'},
  {'Item': 'Oranges (1kg) ', 'Cost': '1.53€'},
  {'Item': 'Tomato (1kg) ', 'Cost': '1.85€'},
  {'Item': 'Potato (1kg) ', 'Cost': '1.04€'},
  {'Item': 'Onion (1kg) ', 'Cost': '1.25€'},
  {'Item': 'Lettuce (1 head) ', 'Cost': '0.98€'},
  {'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.71€'},
  {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '5.17€'},
  {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '1.05€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '1.46€'},
  {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '5.15€'},
  {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '1.50€'},
  {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '54.80€'},
  {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '3.25€'},
  {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.10€'},
  {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '22.00€'},
  {'Item': 'Gasoline (1 liter) ', 'Cost': '1.56€'},
  {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '25,000.00€'},
  {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '23,555.00€'},
  {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '157.79€'},
  {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.18€'},
  {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '36.66€'},
  {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '42.18€'},
  {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '11.04€'},
  {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '9.00€'},
  {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '482.31€'},
  {'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '9,318.18€'},
  {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '75.30€'},
  {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '31.20€'},
  {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '73.39€'},
  {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '95.38€'},
  {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,018.40€'},
  {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '784.22€'},
  {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '1,801.05€'},
  {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '1,263.60€'},
  {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '4,777.28€'},
  {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '3,410.10€'},
  {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '1,801.09€'},
  {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.92'}],
 [{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '15.00€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '60.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '9.00€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '6.75€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '6.00€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '3.81€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '3.24€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '2.10€'},
  {'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.13€'},
  {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '2.09€'},
  {'Item': 'Rice (white), (1kg) ', 'Cost': '2.17€'},
  {'Item': 'Eggs (regular) (12) ', 'Cost': '3.89€'},
  {'Item': 'Local Cheese (1kg) ', 'Cost': '16.81€'},
  {'Item': 'Chicken Fillets (1kg) ', 'Cost': '12.34€'},
  {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '19.81€'},
  {'Item': 'Apples (1kg) ', 'Cost': '2.54€'},
  {'Item': 'Banana (1kg) ', 'Cost': '1.92€'},
  {'Item': 'Oranges (1kg) ', 'Cost': '2.55€'},
  {'Item': 'Tomato (1kg) ', 'Cost': '3.20€'},
  {'Item': 'Potato (1kg) ', 'Cost': '1.86€'},
  {'Item': 'Onion (1kg) ', 'Cost': '1.91€'},
  {'Item': 'Lettuce (1 head) ', 'Cost': '1.39€'},
  {'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.84€'},
  {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '8.00€'},
  {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '1.82€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '2.71€'},
  {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '10.50€'},
  {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '1.90€'},
  {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '75.00€'},
  {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '5.00€'},
  {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.65€'},
  {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '45.00€'},
  {'Item': 'Gasoline (1 liter) ', 'Cost': '2.00€'},
  {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '20,000.00€'},
  {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '24,607.14€'},
  {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '185.20€'},
  {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.16€'},
  {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '30.06€'},
  {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '37.80€'},
  {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '15.21€'},
  {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '12.00€'},
  {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '752.08€'},
  {'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '13,714.29€'},
  {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '100.15€'},
  {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '39.88€'},
  {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '94.12€'},
  {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '134.65€'},
  {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,271.76€'},
  {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '918.16€'},
  {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '2,779.77€'},
  {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '1,979.20€'},
  {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '12,223.77€'},
  {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '8,981.25€'},
  {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '2,572.27€'},
  {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.37'}],
 [{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '10.00€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '50.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '8.00€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '4.00€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '4.00€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '3.03€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.19€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.87€'},
  {'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.01€'},
  {'Item': 'Loaf of Fresh White Bread (500g) ', 'Cost': '1.35€'},
  {'Item': 'Rice (white), (1kg) ', 'Cost': '2.15€'},
  {'Item': 'Eggs (regular) (12) ', 'Cost': '2.66€'},
  {'Item': 'Local Cheese (1kg) ', 'Cost': '11.81€'},
  {'Item': 'Chicken Fillets (1kg) ', 'Cost': '7.06€'},
  {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '11.90€'},
  {'Item': 'Apples (1kg) ', 'Cost': '2.38€'},
  {'Item': 'Banana (1kg) ', 'Cost': '1.70€'},
  {'Item': 'Oranges (1kg) ', 'Cost': '2.32€'},
  {'Item': 'Tomato (1kg) ', 'Cost': '2.90€'},
  {'Item': 'Potato (1kg) ', 'Cost': '1.58€'},
  {'Item': 'Onion (1kg) ', 'Cost': '1.01€'},
  {'Item': 'Lettuce (1 head) ', 'Cost': '1.22€'},
  {'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.65€'},
  {'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '5.85€'},
  {'Item': 'Domestic Beer (0.5 liter bottle) ', 'Cost': '0.90€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '1.61€'},
  {'Item': 'Cigarettes 20 Pack (Marlboro) ', 'Cost': '7.40€'},
  {'Item': 'One-way Ticket (Local Transport) ', 'Cost': '3.00€'},
  {'Item': 'Monthly Pass (Regular Price) ', 'Cost': '84.50€'},
  {'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '4.50€'},
  {'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '2.00€'},
  {'Item': 'Taxi 1hour Waiting (Normal Tariff) ', 'Cost': '33.00€'},
  {'Item': 'Gasoline (1 liter) ', 'Cost': '2.16€'},
  {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '26,000.00€'},
  {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '27,022.38€'},
  {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '282.84€'},
  {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.10€'},
  {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '37.41€'},
  {'Item': 'Fitness Club, Monthly Fee for 1 Adult ', 'Cost': '27.16€'},
  {'Item': 'Tennis Court Rent (1 Hour on Weekend) ', 'Cost': '17.78€'},
  {'Item': 'Cinema, International Release, 1 Seat ', 'Cost': '11.00€'},
  {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '156.47€'},
  {'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '8,950.00€'},
  {'Item': '1 Pair of Jeans (Levis 501 Or Similar) ', 'Cost': '81.03€'},
  {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '36.24€'},
  {'Item': '1 Pair of Nike Running Shoes (Mid-Range) ', 'Cost': '83.89€'},
  {'Item': '1 Pair of Men Leather Business Shoes ', 'Cost': '106.72€'},
  {'Item': 'Apartment (1 bedroom) in City Centre ', 'Cost': '1,130.65€'},
  {'Item': 'Apartment (1 bedroom) Outside of Centre ', 'Cost': '781.40€'},
  {'Item': 'Apartment (3 bedrooms) in City Centre ', 'Cost': '2,129.48€'},
  {'Item': 'Apartment (3 bedrooms) Outside of Centre ', 'Cost': '1,459.90€'},
  {'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '7,800.00€'},
  {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '5,134.62€'},
  {'Item': 'Average Monthly Net Salary (After Tax) ', 'Cost': '3,044.15€'},
  {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.79'}],
 [{'Item': 'Meal, Inexpensive Restaurant ', 'Cost': '17.00€'},
  {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '75.00€'},
  {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ', 'Cost': '8.00€'},
  {'Item': 'Domestic Beer (0.5 liter draught) ', 'Cost': '6.00€'},
  {'Item': 'Imported Beer (0.33 liter bottle) ', 'Cost': '4.50€'},
  {'Item': 'Cappuccino (regular) ', 'Cost': '1.61€'},
  {'Item': 'Coke/Pepsi (0.33 liter bottle) ', 'Cost': '2.58€'},
  {'Item': 'Water (0.33 liter bottle)  ', 'Cost': '1.34€'},

In [ ]:
#TEST

In [377]:
#loop to get all the urls to scrap
cities_urlsdic =[]
for city in cities:
    cities_urlsdic.append({city:'https://www.numbeo.com/cost-of-living/in/'+city})
cities_urlsdic

[{'Dublin': 'https://www.numbeo.com/cost-of-living/in/Dublin'},
 {'Amsterdam': 'https://www.numbeo.com/cost-of-living/in/Amsterdam'},
 {'Madrid': 'https://www.numbeo.com/cost-of-living/in/Madrid'},
 {'Paris': 'https://www.numbeo.com/cost-of-living/in/Paris'},
 {'Berlin': 'https://www.numbeo.com/cost-of-living/in/Berlin'},
 {'Milan': 'https://www.numbeo.com/cost-of-living/in/Milan'},
 {'London': 'https://www.numbeo.com/cost-of-living/in/London'},
 {'Barcelona': 'https://www.numbeo.com/cost-of-living/in/Barcelona'},
 {'Frankfurt': 'https://www.numbeo.com/cost-of-living/in/Frankfurt'},
 {'Lisbon': 'https://www.numbeo.com/cost-of-living/in/Lisbon'}]

In [385]:
cities_urls =[]
for city in cities:
    templist =[]
    templist.append(city)
    templist.append('https://www.numbeo.com/cost-of-living/in/'+city)
    cities_urls.append(templist)
cities_urls

[['Dublin', 'https://www.numbeo.com/cost-of-living/in/Dublin'],
 ['Amsterdam', 'https://www.numbeo.com/cost-of-living/in/Amsterdam'],
 ['Madrid', 'https://www.numbeo.com/cost-of-living/in/Madrid'],
 ['Paris', 'https://www.numbeo.com/cost-of-living/in/Paris'],
 ['Berlin', 'https://www.numbeo.com/cost-of-living/in/Berlin'],
 ['Milan', 'https://www.numbeo.com/cost-of-living/in/Milan'],
 ['London', 'https://www.numbeo.com/cost-of-living/in/London'],
 ['Barcelona', 'https://www.numbeo.com/cost-of-living/in/Barcelona'],
 ['Frankfurt', 'https://www.numbeo.com/cost-of-living/in/Frankfurt'],
 ['Lisbon', 'https://www.numbeo.com/cost-of-living/in/Lisbon']]

In [478]:
#MAIN PROGRAM ROW COUNTRY COLUMN ITEMS
cost_life_list = []
#cities_urls = ['https://www.numbeo.com/cost-of-living/in/'+city for city in cities ] 
maindf= pd.DataFrame()
#Loop to get a list of tables for cost life

for citylink in cities_urls:
    time.sleep(random.randint(0,5)) # get random seconds
    #print (citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink[1] ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table ITEMS column soup
        table_city = soup.find_all('tr')
        
        #Temporary list to store ITEMS for each city the items 
        items_list = [] 
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table_city[1:66]:
            if element.td is not None and element.td != "":
                items_list.append({'Country':citylink[0],'Item':element.td.text})
        
        # Lets bring the table COST column soup
        table_country = soup.find_all('span', {'class':'first_currency'})

        #Temporary list to store COST for each city the items 
        cost_item_list = []
        
        #loop the soup to get the COST and store it in the temp list 
        for element in table_country:
            cost_item_list.append({'Cost':element.text.replace('\xa0','')})

        #Merging 2 list of dictionaries with function merge_two_dicts
        table_costlife = []
        for element in range(len(items_list)):
            table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
        #table_costlife

        #Add each city list into another list                
        cost_life_list.append(table_costlife)
        
        
        

      
    except:
              
        
        pass
    #DataFrame creation
    df_table_costlife = pd.DataFrame(table_costlife)
    #Transposing the rox and columns    
    df_temp = dict(zip(df_table_costlife["Item"], df_table_costlife["Cost"]))
    df_temp = pd.DataFrame([df_temp], columns=df_temp.keys())
    df_temp['Country'] = citylink[0]
    
    #
    
    maindf = pd.concat([maindf,df_temp])
    
#cost_life_list            
#print(len(cost_life_list))   
maindf

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Country
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Dublin
0,17.00€,80.00€,9.00€,5.74€,1.81€,3.50€,2.68€,2.51€,1.08€,1.64€,...,146.00€,"1,574.37€","1,286.59€","2,718.74€","2,024.12€","8,982.52€","5,914.29€","3,447.83€",1.90,Amsterdam
0,12.95€,60.00€,7.92€,3.00€,1.44€,2.12€,2.16€,1.55€,0.83€,1.09€,...,94.76€,"1,014.12€",785.78€,"1,786.00€","1,261.15€","4,777.28€","3,410.10€","1,809.98€",1.92,Madrid
0,15.00€,60.00€,9.00€,6.75€,2.71€,3.81€,3.24€,2.10€,1.13€,2.09€,...,134.65€,"1,271.76€",918.16€,"2,779.77€","1,979.20€","12,223.77€","8,981.25€","2,572.27€",1.37,Paris
0,10.00€,50.00€,8.00€,4.00€,1.61€,3.03€,2.19€,1.87€,1.01€,1.35€,...,106.72€,"1,130.65€",781.40€,"2,129.48€","1,459.90€","7,800.00€","5,134.62€","3,044.15€",1.79,Berlin
0,17.00€,75.00€,8.00€,6.00€,1.80€,1.61€,2.58€,1.34€,1.29€,1.98€,...,139.64€,"1,184.25€",825.56€,"2,444.12€","1,559.68€","8,101.14€","3,707.14€","1,749.93€",1.37,Milan
0,15.00£,62.20£,6.00£,5.85£,2.30£,3.20£,1.70£,1.32£,0.94£,1.21£,...,94.41£,"1,755.92£","1,282.17£","3,346.55£","2,156.67£","13,622.79£","6,181.05£","2,932.27£",2.49,London
0,12.00€,50.00€,9.00€,3.00€,1.76€,2.03€,1.98€,1.31€,0.89€,1.21€,...,116.82€,959.38€,757.38€,"1,654.65€","1,264.75€","4,346.09€","2,714.50€","1,889.64€",1.92,Barcelona
0,10.50€,55.00€,8.64€,4.00€,1.30€,3.02€,2.76€,2.60€,1.06€,1.82€,...,121.88€,"1,066.67€",846.15€,"1,904.13€","1,490.00€","8,700.00€","7,895.84€","3,447.30€",1.55,Frankfurt
0,10.00€,40.00€,7.00€,2.00€,1.63€,1.50€,1.33€,1.00€,0.67€,0.92€,...,81.88€,833.75€,640.70€,"1,697.00€","1,092.87€","4,848.93€","2,835.92€","1,042.00€",2.13,Lisbon

In [487]:
#MAIN PROGRAM ROW COUNTRY ITEMS COLUMN COST
cost_life_list = []
#cities_urls = ['https://www.numbeo.com/cost-of-living/in/'+city for city in cities ] 
maindf2= pd.DataFrame()

#Loop to get a list of tables for cost life
count=0
for citylink in cities_urls:
    time.sleep(random.randint(0,5)) # get random seconds
    #print (citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink[1] ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table ITEMS column soup
        table_city = soup.find_all('tr')
        
        #Temporary list to store ITEMS for each city the items 
        items_list = [] 
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table_city[1:66]:
            if element.td is not None and element.td != "":
                items_list.append({'Country':citylink[0],'Item':element.td.text})
        
        # Lets bring the table COST column soup
        table_country = soup.find_all('span', {'class':'first_currency'})

        #Temporary list to store COST for each city the items 
        cost_item_list = []
        
        #loop the soup to get the COST and store it in the temp list 
        for element in table_country:
            cost_item_list.append({'Cost':element.text.replace('\xa0','')})

        #Merging 2 list of dictionaries with function merge_two_dicts
        table_costlife = []
        for element in range(len(items_list)):
            table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
        #table_costlife

        #Add each city list into another list                
        cost_life_list.append(table_costlife)
        
        df_table_costlife = pd.DataFrame(table_costlife)
        maindf2 = pd.concat([maindf2,df_table_costlife])

      
    except:
              
        
        pass
    
cost_life_list            
#print(len(cost_life_list))

[[{'Country': 'Dublin',
   'Item': 'Meal, Inexpensive Restaurant ',
   'Cost': '15.00€'},
  {'Country': 'Dublin',
   'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '70.00€'},
  {'Country': 'Dublin',
   'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ',
   'Cost': '9.00€'},
  {'Country': 'Dublin',
   'Item': 'Domestic Beer (0.5 liter draught) ',
   'Cost': '5.75€'},
  {'Country': 'Dublin',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '5.50€'},
  {'Country': 'Dublin', 'Item': 'Cappuccino (regular) ', 'Cost': '3.61€'},
  {'Country': 'Dublin',
   'Item': 'Coke/Pepsi (0.33 liter bottle) ',
   'Cost': '2.01€'},
  {'Country': 'Dublin',
   'Item': 'Water (0.33 liter bottle)  ',
   'Cost': '1.61€'},
  {'Country': 'Dublin', 'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.05€'},
  {'Country': 'Dublin',
   'Item': 'Loaf of Fresh White Bread (500g) ',
   'Cost': '1.64€'},
  {'Country': 'Dublin', 'Item': 'Rice (white), (1kg) ', 'Cost': '1.27€'},
  {'Country': 'Dublin', 'Item': 'Eggs (regular) (12) ', 'Cost': '3.06€'},
  {'Country': 'Dublin', 'Item': 'Local Cheese (1kg) ', 'Cost': '8.58€'},
  {'Country': 'Dublin', 'Item': 'Chicken Fillets (1kg) ', 'Cost': '8.89€'},
  {'Country': 'Dublin',
   'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '10.52€'},
  {'Country': 'Dublin', 'Item': 'Apples (1kg) ', 'Cost': '2.37€'},
  {'Country': 'Dublin', 'Item': 'Banana (1kg) ', 'Cost': '1.63€'},
  {'Country': 'Dublin', 'Item': 'Oranges (1kg) ', 'Cost': '2.12€'},
  {'Country': 'Dublin', 'Item': 'Tomato (1kg) ', 'Cost': '3.00€'},
  {'Country': 'Dublin', 'Item': 'Potato (1kg) ', 'Cost': '1.37€'},
  {'Country': 'Dublin', 'Item': 'Onion (1kg) ', 'Cost': '1.13€'},
  {'Country': 'Dublin', 'Item': 'Lettuce (1 head) ', 'Cost': '1.07€'},
  {'Country': 'Dublin', 'Item': 'Water (1.5 liter bottle) ', 'Cost': '1.03€'},
  {'Country': 'Dublin',
   'Item': 'Bottle of Wine (Mid-Range) ',
   'Cost': '12.00€'},
  {'Country': 'Dublin',
   'Item': 'Domestic Beer (0.5 liter bottle) ',
   'Cost': '2.92€'},
  {'Country': 'Dublin',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '2.90€'},
  {'Country': 'Dublin',
   'Item': 'Cigarettes 20 Pack (Marlboro) ',
   'Cost': '14.70€'},
  {'Country': 'Dublin',
   'Item': 'One-way Ticket (Local Transport) ',
   'Cost': '2.80€'},
  {'Country': 'Dublin',
   'Item': 'Monthly Pass (Regular Price) ',
   'Cost': '120.87€'},
  {'Country': 'Dublin',
   'Item': 'Taxi Start (Normal Tariff) ',
   'Cost': '4.00€'},
  {'Country': 'Dublin', 'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.50€'},
  {'Country': 'Dublin',
   'Item': 'Taxi 1hour Waiting (Normal Tariff) ',
   'Cost': '25.00€'},
  {'Country': 'Dublin', 'Item': 'Gasoline (1 liter) ', 'Cost': '1.83€'},
  {'Country': 'Dublin',
   'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '26,000.00€'},
  {'Country': 'Dublin',
   'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '27,827.44€'},
  {'Country': 'Dublin',
   'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '177.52€'},
  {'Country': 'Dublin',
   'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.38€'},
  {'Country': 'Dublin',
   'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '52.40€'},
  {'Country': 'Dublin',
   'Item': 'Fitness Club, Monthly Fee for 1 Adult ',
   'Cost': '44.56€'},
  {'Country': 'Dublin',
   'Item': 'Tennis Court Rent (1 Hour on Weekend) ',
   'Cost': '15.15€'},
  {'Country': 'Dublin',
   'Item': 'Cinema, International Release, 1 Seat ',
   'Cost': '12.00€'},
  {'Country': 'Dublin',
   'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '1,178.95€'},
  {'Country': 'Dublin',
   'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '8,415.00€'},
  {'Country': 'Dublin',
   'Item': '1 Pair of Jeans (Levis 501 Or Similar) ',
   'Cost': '82.17€'},
  {'Country': 'Dublin',
   'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '32.65€'},
  {'Country': 'Dublin',
   'Item': '1 Pair of Nike Running Shoes (Mid-Range) ',
   'Cost': '83.44€'},
  {'Country': 'Dublin',
   'Item': '1 Pair of Men Leather Business Shoes ',
   'Cost': '95.86€'},
  {'Country': 'Dublin',
   'Item': 'Apartment (1 bedroom) in City Centre ',
   'Cost': '1,768.53€'},
  {'Country': 'Dublin',
   'Item': 'Apartment (1 bedroom) Outside of Centre ',
   'Cost': '1,473.79€'},
  {'Country': 'Dublin',
   'Item': 'Apartment (3 bedrooms) in City Centre ',
   'Cost': '3,027.59€'},
  {'Country': 'Dublin',
   'Item': 'Apartment (3 bedrooms) Outside of Centre ',
   'Cost': '2,372.64€'},
  {'Country': 'Dublin',
   'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '7,541.56€'},
  {'Country': 'Dublin',
   'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '4,504.82€'},
  {'Country': 'Dublin',
   'Item': 'Average Monthly Net Salary (After Tax) ',
   'Cost': '3,070.96€'},
  {'Country': 'Dublin',
   'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '3.18'}],
 [{'Country': 'Amsterdam',
   'Item': 'Meal, Inexpensive Restaurant ',
   'Cost': '17.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '80.00€'},
  {'Country': 'Amsterdam',
   'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ',
   'Cost': '9.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Domestic Beer (0.5 liter draught) ',
   'Cost': '5.74€'},
  {'Country': 'Amsterdam',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '5.00€'},
  {'Country': 'Amsterdam', 'Item': 'Cappuccino (regular) ', 'Cost': '3.50€'},
  {'Country': 'Amsterdam',
   'Item': 'Coke/Pepsi (0.33 liter bottle) ',
   'Cost': '2.68€'},
  {'Country': 'Amsterdam',
   'Item': 'Water (0.33 liter bottle)  ',
   'Cost': '2.51€'},
  {'Country': 'Amsterdam',
   'Item': 'Milk (regular), (1 liter) ',
   'Cost': '1.08€'},
  {'Country': 'Amsterdam',
   'Item': 'Loaf of Fresh White Bread (500g) ',
   'Cost': '1.64€'},
  {'Country': 'Amsterdam', 'Item': 'Rice (white), (1kg) ', 'Cost': '1.75€'},
  {'Country': 'Amsterdam', 'Item': 'Eggs (regular) (12) ', 'Cost': '2.76€'},
  {'Country': 'Amsterdam', 'Item': 'Local Cheese (1kg) ', 'Cost': '10.99€'},
  {'Country': 'Amsterdam', 'Item': 'Chicken Fillets (1kg) ', 'Cost': '7.91€'},
  {'Country': 'Amsterdam',
   'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '24.78€'},
  {'Country': 'Amsterdam', 'Item': 'Apples (1kg) ', 'Cost': '2.33€'},
  {'Country': 'Amsterdam', 'Item': 'Banana (1kg) ', 'Cost': '1.70€'},
  {'Country': 'Amsterdam', 'Item': 'Oranges (1kg) ', 'Cost': '1.60€'},
  {'Country': 'Amsterdam', 'Item': 'Tomato (1kg) ', 'Cost': '2.82€'},
  {'Country': 'Amsterdam', 'Item': 'Potato (1kg) ', 'Cost': '1.23€'},
  {'Country': 'Amsterdam', 'Item': 'Onion (1kg) ', 'Cost': '0.90€'},
  {'Country': 'Amsterdam', 'Item': 'Lettuce (1 head) ', 'Cost': '0.82€'},
  {'Country': 'Amsterdam',
   'Item': 'Water (1.5 liter bottle) ',
   'Cost': '0.92€'},
  {'Country': 'Amsterdam',
   'Item': 'Bottle of Wine (Mid-Range) ',
   'Cost': '5.99€'},
  {'Country': 'Amsterdam',
   'Item': 'Domestic Beer (0.5 liter bottle) ',
   'Cost': '1.23€'},
  {'Country': 'Amsterdam',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '1.81€'},
  {'Country': 'Amsterdam',
   'Item': 'Cigarettes 20 Pack (Marlboro) ',
   'Cost': '8.20€'},
  {'Country': 'Amsterdam',
   'Item': 'One-way Ticket (Local Transport) ',
   'Cost': '3.20€'},
  {'Country': 'Amsterdam',
   'Item': 'Monthly Pass (Regular Price) ',
   'Cost': '100.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Taxi Start (Normal Tariff) ',
   'Cost': '5.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Taxi 1km (Normal Tariff) ',
   'Cost': '2.40€'},
  {'Country': 'Amsterdam',
   'Item': 'Taxi 1hour Waiting (Normal Tariff) ',
   'Cost': '45.00€'},
  {'Country': 'Amsterdam', 'Item': 'Gasoline (1 liter) ', 'Cost': '2.14€'},
  {'Country': 'Amsterdam',
   'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '26,890.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '28,924.29€'},
  {'Country': 'Amsterdam',
   'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '200.60€'},
  {'Country': 'Amsterdam',
   'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.12€'},
  {'Country': 'Amsterdam',
   'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '46.26€'},
  {'Country': 'Amsterdam',
   'Item': 'Fitness Club, Monthly Fee for 1 Adult ',
   'Cost': '46.74€'},
  {'Country': 'Amsterdam',
   'Item': 'Tennis Court Rent (1 Hour on Weekend) ',
   'Cost': '23.33€'},
  {'Country': 'Amsterdam',
   'Item': 'Cinema, International Release, 1 Seat ',
   'Cost': '12.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '1,925.05€'},
  {'Country': 'Amsterdam',
   'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '15,717.50€'},
  {'Country': 'Amsterdam',
   'Item': '1 Pair of Jeans (Levis 501 Or Similar) ',
   'Cost': '86.17€'},
  {'Country': 'Amsterdam',
   'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '41.90€'},
  {'Country': 'Amsterdam',
   'Item': '1 Pair of Nike Running Shoes (Mid-Range) ',
   'Cost': '92.12€'},
  {'Country': 'Amsterdam',
   'Item': '1 Pair of Men Leather Business Shoes ',
   'Cost': '146.00€'},
  {'Country': 'Amsterdam',
   'Item': 'Apartment (1 bedroom) in City Centre ',
   'Cost': '1,574.37€'},
  {'Country': 'Amsterdam',
   'Item': 'Apartment (1 bedroom) Outside of Centre ',
   'Cost': '1,286.59€'},
  {'Country': 'Amsterdam',
   'Item': 'Apartment (3 bedrooms) in City Centre ',
   'Cost': '2,718.74€'},
  {'Country': 'Amsterdam',
   'Item': 'Apartment (3 bedrooms) Outside of Centre ',
   'Cost': '2,024.12€'},
  {'Country': 'Amsterdam',
   'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '8,982.52€'},
  {'Country': 'Amsterdam',
   'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '5,914.29€'},
  {'Country': 'Amsterdam',
   'Item': 'Average Monthly Net Salary (After Tax) ',
   'Cost': '3,447.83€'},
  {'Country': 'Amsterdam',
   'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.90'}],
 [{'Country': 'Madrid',
   'Item': 'Meal, Inexpensive Restaurant ',
   'Cost': '12.95€'},
  {'Country': 'Madrid',
   'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '60.00€'},
  {'Country': 'Madrid',
   'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ',
   'Cost': '7.92€'},
  {'Country': 'Madrid',
   'Item': 'Domestic Beer (0.5 liter draught) ',
   'Cost': '3.00€'},
  {'Country': 'Madrid',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '3.50€'},
  {'Country': 'Madrid', 'Item': 'Cappuccino (regular) ', 'Cost': '2.12€'},
  {'Country': 'Madrid',
   'Item': 'Coke/Pepsi (0.33 liter bottle) ',
   'Cost': '2.16€'},
  {'Country': 'Madrid',
   'Item': 'Water (0.33 liter bottle)  ',
   'Cost': '1.55€'},
  {'Country': 'Madrid', 'Item': 'Milk (regular), (1 liter) ', 'Cost': '0.83€'},
  {'Country': 'Madrid',
   'Item': 'Loaf of Fresh White Bread (500g) ',
   'Cost': '1.09€'},
  {'Country': 'Madrid', 'Item': 'Rice (white), (1kg) ', 'Cost': '1.12€'},
  {'Country': 'Madrid', 'Item': 'Eggs (regular) (12) ', 'Cost': '2.12€'},
  {'Country': 'Madrid', 'Item': 'Local Cheese (1kg) ', 'Cost': '10.91€'},
  {'Country': 'Madrid', 'Item': 'Chicken Fillets (1kg) ', 'Cost': '6.70€'},
  {'Country': 'Madrid',
   'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '12.41€'},
  {'Country': 'Madrid', 'Item': 'Apples (1kg) ', 'Cost': '1.92€'},
  {'Country': 'Madrid', 'Item': 'Banana (1kg) ', 'Cost': '1.70€'},
  {'Country': 'Madrid', 'Item': 'Oranges (1kg) ', 'Cost': '1.66€'},
  {'Country': 'Madrid', 'Item': 'Tomato (1kg) ', 'Cost': '1.86€'},
  {'Country': 'Madrid', 'Item': 'Potato (1kg) ', 'Cost': '1.10€'},
  {'Country': 'Madrid', 'Item': 'Onion (1kg) ', 'Cost': '1.32€'},
  {'Country': 'Madrid', 'Item': 'Lettuce (1 head) ', 'Cost': '0.98€'},
  {'Country': 'Madrid', 'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.71€'},
  {'Country': 'Madrid',
   'Item': 'Bottle of Wine (Mid-Range) ',
   'Cost': '5.00€'},
  {'Country': 'Madrid',
   'Item': 'Domestic Beer (0.5 liter bottle) ',
   'Cost': '1.03€'},
  {'Country': 'Madrid',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '1.44€'},
  {'Country': 'Madrid',
   'Item': 'Cigarettes 20 Pack (Marlboro) ',
   'Cost': '5.08€'},
  {'Country': 'Madrid',
   'Item': 'One-way Ticket (Local Transport) ',
   'Cost': '1.50€'},
  {'Country': 'Madrid',
   'Item': 'Monthly Pass (Regular Price) ',
   'Cost': '54.60€'},
  {'Country': 'Madrid',
   'Item': 'Taxi Start (Normal Tariff) ',
   'Cost': '3.25€'},
  {'Country': 'Madrid', 'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.10€'},
  {'Country': 'Madrid',
   'Item': 'Taxi 1hour Waiting (Normal Tariff) ',
   'Cost': '22.00€'},
  {'Country': 'Madrid', 'Item': 'Gasoline (1 liter) ', 'Cost': '1.57€'},
  {'Country': 'Madrid',
   'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '25,000.00€'},
  {'Country': 'Madrid',
   'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '23,555.00€'},
  {'Country': 'Madrid',
   'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '158.24€'},
  {'Country': 'Madrid',
   'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.18€'},
  {'Country': 'Madrid',
   'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '36.74€'},
  {'Country': 'Madrid',
   'Item': 'Fitness Club, Monthly Fee for 1 Adult ',
   'Cost': '41.65€'},
  {'Country': 'Madrid',
   'Item': 'Tennis Court Rent (1 Hour on Weekend) ',
   'Cost': '11.04€'},
  {'Country': 'Madrid',
   'Item': 'Cinema, International Release, 1 Seat ',
   'Cost': '9.00€'},
  {'Country': 'Madrid',
   'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '482.31€'},
  {'Country': 'Madrid',
   'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '9,318.18€'},
  {'Country': 'Madrid',
   'Item': '1 Pair of Jeans (Levis 501 Or Similar) ',
   'Cost': '75.08€'},
  {'Country': 'Madrid',
   'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '31.56€'},
  {'Country': 'Madrid',
   'Item': '1 Pair of Nike Running Shoes (Mid-Range) ',
   'Cost': '73.39€'},
  {'Country': 'Madrid',
   'Item': '1 Pair of Men Leather Business Shoes ',
   'Cost': '94.76€'},
  {'Country': 'Madrid',
   'Item': 'Apartment (1 bedroom) in City Centre ',
   'Cost': '1,014.12€'},
  {'Country': 'Madrid',
   'Item': 'Apartment (1 bedroom) Outside of Centre ',
   'Cost': '785.78€'},
  {'Country': 'Madrid',
   'Item': 'Apartment (3 bedrooms) in City Centre ',
   'Cost': '1,786.00€'},
  {'Country': 'Madrid',
   'Item': 'Apartment (3 bedrooms) Outside of Centre ',
   'Cost': '1,261.15€'},
  {'Country': 'Madrid',
   'Item': 'Price per Square Meter to Buy Apartment in City Centre ',
   'Cost': '4,777.28€'},
  {'Country': 'Madrid',
   'Item': 'Price per Square Meter to Buy Apartment Outside of Centre ',
   'Cost': '3,410.10€'},
  {'Country': 'Madrid',
   'Item': 'Average Monthly Net Salary (After Tax) ',
   'Cost': '1,809.98€'},
  {'Country': 'Madrid',
   'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate ',
   'Cost': '1.92'}],
 [{'Country': 'Paris',
   'Item': 'Meal, Inexpensive Restaurant ',
   'Cost': '15.00€'},
  {'Country': 'Paris',
   'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course ',
   'Cost': '60.00€'},
  {'Country': 'Paris',
   'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) ',
   'Cost': '9.00€'},
  {'Country': 'Paris',
   'Item': 'Domestic Beer (0.5 liter draught) ',
   'Cost': '6.75€'},
  {'Country': 'Paris',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '6.00€'},
  {'Country': 'Paris', 'Item': 'Cappuccino (regular) ', 'Cost': '3.81€'},
  {'Country': 'Paris',
   'Item': 'Coke/Pepsi (0.33 liter bottle) ',
   'Cost': '3.24€'},
  {'Country': 'Paris', 'Item': 'Water (0.33 liter bottle)  ', 'Cost': '2.10€'},
  {'Country': 'Paris', 'Item': 'Milk (regular), (1 liter) ', 'Cost': '1.13€'},
  {'Country': 'Paris',
   'Item': 'Loaf of Fresh White Bread (500g) ',
   'Cost': '2.09€'},
  {'Country': 'Paris', 'Item': 'Rice (white), (1kg) ', 'Cost': '2.17€'},
  {'Country': 'Paris', 'Item': 'Eggs (regular) (12) ', 'Cost': '3.89€'},
  {'Country': 'Paris', 'Item': 'Local Cheese (1kg) ', 'Cost': '16.81€'},
  {'Country': 'Paris', 'Item': 'Chicken Fillets (1kg) ', 'Cost': '12.34€'},
  {'Country': 'Paris',
   'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) ',
   'Cost': '19.81€'},
  {'Country': 'Paris', 'Item': 'Apples (1kg) ', 'Cost': '2.54€'},
  {'Country': 'Paris', 'Item': 'Banana (1kg) ', 'Cost': '1.92€'},
  {'Country': 'Paris', 'Item': 'Oranges (1kg) ', 'Cost': '2.55€'},
  {'Country': 'Paris', 'Item': 'Tomato (1kg) ', 'Cost': '3.20€'},
  {'Country': 'Paris', 'Item': 'Potato (1kg) ', 'Cost': '1.86€'},
  {'Country': 'Paris', 'Item': 'Onion (1kg) ', 'Cost': '1.91€'},
  {'Country': 'Paris', 'Item': 'Lettuce (1 head) ', 'Cost': '1.39€'},
  {'Country': 'Paris', 'Item': 'Water (1.5 liter bottle) ', 'Cost': '0.84€'},
  {'Country': 'Paris', 'Item': 'Bottle of Wine (Mid-Range) ', 'Cost': '8.00€'},
  {'Country': 'Paris',
   'Item': 'Domestic Beer (0.5 liter bottle) ',
   'Cost': '1.82€'},
  {'Country': 'Paris',
   'Item': 'Imported Beer (0.33 liter bottle) ',
   'Cost': '2.71€'},
  {'Country': 'Paris',
   'Item': 'Cigarettes 20 Pack (Marlboro) ',
   'Cost': '10.50€'},
  {'Country': 'Paris',
   'Item': 'One-way Ticket (Local Transport) ',
   'Cost': '1.90€'},
  {'Country': 'Paris',
   'Item': 'Monthly Pass (Regular Price) ',
   'Cost': '75.00€'},
  {'Country': 'Paris', 'Item': 'Taxi Start (Normal Tariff) ', 'Cost': '5.00€'},
  {'Country': 'Paris', 'Item': 'Taxi 1km (Normal Tariff) ', 'Cost': '1.65€'},
  {'Country': 'Paris',
   'Item': 'Taxi 1hour Waiting (Normal Tariff) ',
   'Cost': '45.00€'},
  {'Country': 'Paris', 'Item': 'Gasoline (1 liter) ', 'Cost': '2.00€'},
  {'Country': 'Paris',
   'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) ',
   'Cost': '20,000.00€'},
  {'Country': 'Paris',
   'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) ',
   'Cost': '24,607.14€'},
  {'Country': 'Paris',
   'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment ',
   'Cost': '185.20€'},
  {'Country': 'Paris',
   'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) ',
   'Cost': '0.16€'},
  {'Country': 'Paris',
   'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) ',
   'Cost': '30.06€'},
  {'Country': 'Paris',
   'Item': 'Fitness Club, Monthly Fee for 1 Adult ',
   'Cost': '37.80€'},
  {'Country': 'Paris',
   'Item': 'Tennis Court Rent (1 Hour on Weekend) ',
   'Cost': '15.21€'},
  {'Country': 'Paris',
   'Item': 'Cinema, International Release, 1 Seat ',
   'Cost': '12.00€'},
  {'Country': 'Paris',
   'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child ',
   'Cost': '752.08€'},
  {'Country': 'Paris',
   'Item': 'International Primary School, Yearly for 1 Child ',
   'Cost': '13,714.29€'},
  {'Country': 'Paris',
   'Item': '1 Pair of Jeans (Levis 501 Or Similar) ',
   'Cost': '100.15€'},
  {'Country': 'Paris',
   'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) ',
   'Cost': '39.88€'},

In [488]:
maindf2

   Country                                               Item       Cost
0   Dublin                      Meal, Inexpensive Restaurant      15.00€
1   Dublin  Meal for 2 People, Mid-range Restaurant, Three...     70.00€
2   Dublin    McMeal at McDonalds (or Equivalent Combo Meal)       9.00€
3   Dublin                 Domestic Beer (0.5 liter draught)       5.75€
4   Dublin                 Imported Beer (0.33 liter bottle)       5.50€
..     ...                                                ...        ...
50  Lisbon          Apartment (3 bedrooms) Outside of Centre   1,092.87€
51  Lisbon  Price per Square Meter to Buy Apartment in Cit...  4,848.93€
52  Lisbon  Price per Square Meter to Buy Apartment Outsid...  2,835.92€
53  Lisbon            Average Monthly Net Salary (After Tax)   1,042.00€
54  Lisbon  Mortgage Interest Rate in Percentages (%), Yea...       2.13

[550 rows x 3 columns]

In [484]:
df_table_costlife = pd.DataFrame(cost_life_list[3])
df_table_costlife = df_table_costlife.rename(columns ={'Cost':'Cost'})
df_table_costlife

   Country                                               Item        Cost
0    Paris                      Meal, Inexpensive Restaurant       15.00€
1    Paris  Meal for 2 People, Mid-range Restaurant, Three...      60.00€
2    Paris    McMeal at McDonalds (or Equivalent Combo Meal)        9.00€
3    Paris                 Domestic Beer (0.5 liter draught)        6.75€
4    Paris                 Imported Beer (0.33 liter bottle)        6.00€
5    Paris                              Cappuccino (regular)        3.81€
6    Paris                    Coke/Pepsi (0.33 liter bottle)        3.24€
7    Paris                        Water (0.33 liter bottle)         2.10€
8    Paris                         Milk (regular), (1 liter)        1.13€
9    Paris                  Loaf of Fresh White Bread (500g)        2.09€
10   Paris                               Rice (white), (1kg)        2.17€
11   Paris                               Eggs (regular) (12)        3.89€
12   Paris                                Local Cheese (1kg)       16.81€
13   Paris                             Chicken Fillets (1kg)       12.34€
14   Paris  Beef Round (1kg) (or Equivalent Back Leg Red M...      19.81€
15   Paris                                      Apples (1kg)        2.54€
16   Paris                                      Banana (1kg)        1.92€
17   Paris                                     Oranges (1kg)        2.55€
18   Paris                                      Tomato (1kg)        3.20€
19   Paris                                      Potato (1kg)        1.86€
20   Paris                                       Onion (1kg)        1.91€
21   Paris                                  Lettuce (1 head)        1.39€
22   Paris                          Water (1.5 liter bottle)        0.84€
23   Paris                        Bottle of Wine (Mid-Range)        8.00€
24   Paris                  Domestic Beer (0.5 liter bottle)        1.82€
25   Paris                 Imported Beer (0.33 liter bottle)        2.71€
26   Paris                     Cigarettes 20 Pack (Marlboro)       10.50€
27   Paris                  One-way Ticket (Local Transport)        1.90€
28   Paris                      Monthly Pass (Regular Price)       75.00€
29   Paris                        Taxi Start (Normal Tariff)        5.00€
30   Paris                          Taxi 1km (Normal Tariff)        1.65€
31   Paris                Taxi 1hour Waiting (Normal Tariff)       45.00€
32   Paris                                Gasoline (1 liter)        2.00€
33   Paris  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  20,000.00€
34   Paris  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  24,607.14€
35   Paris  Basic (Electricity, Heating, Cooling, Water, G...     185.20€
36   Paris  1 min. of Prepaid Mobile Tariff Local (No Disc...       0.16€
37   Paris  Internet (60 Mbps or More, Unlimited Data, Cab...      30.06€
38   Paris             Fitness Club, Monthly Fee for 1 Adult       37.80€
39   Paris             Tennis Court Rent (1 Hour on Weekend)       15.21€
40   Paris             Cinema, International Release, 1 Seat       12.00€
41   Paris  Preschool (or Kindergarten), Full Day, Private...     752.08€
42   Paris  International Primary School, Yearly for 1 Child   13,714.29€
43   Paris            1 Pair of Jeans (Levis 501 Or Similar)      100.15€
44   Paris  1 Summer Dress in a Chain Store (Zara, H&M, ...)       39.88€
45   Paris          1 Pair of Nike Running Shoes (Mid-Range)       94.12€
46   Paris              1 Pair of Men Leather Business Shoes      134.65€
47   Paris              Apartment (1 bedroom) in City Centre    1,271.76€
48   Paris           Apartment (1 bedroom) Outside of Centre      918.16€
49   Paris             Apartment (3 bedrooms) in City Centre    2,779.77€
50   Paris          Apartment (3 bedrooms) Outside of Centre    1,979.20€
51   Paris  Price per Square Meter to Buy Apartment in Cit...  12,223.77€
52   Paris  Price per Square Meter to Buy Apartment Outsid...   8,981.25€
53   Paris            Average Monthly Net Salary (After Tax)    2,572.27€
54   Paris  Mortgage Interest Rate in Percentages (%), Yea...        1.37

In [475]:
df_table_costlife = pd.DataFrame(cost_life_list[1])
    
    
dicttest = dict(zip(df_table_costlife["Item"], df_table_costlife["Cost"]))
df_test = pd.DataFrame([dicttest], columns=dicttest.keys())
df_test['Country'] = citylink[0]
    
  
    
maindf = pd.concat([maindf,df_test])
maindf

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Country
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Lisbon
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Lisbon
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Lisbon
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Lisbon
0,15.00€,70.00€,9.00€,5.75€,2.90€,3.61€,2.01€,1.61€,1.05€,1.64€,...,95.86€,"1,768.53€","1,473.79€","3,027.59€","2,372.64€","7,541.56€","4,504.82€","3,070.96€",3.18,Lisbon
0,17.00€,80.00€,9.00€,5.74€,1.81€,3.50€,2.68€,2.51€,1.08€,1.64€,...,146.00€,"1,574.37€","1,286.59€","2,718.74€","2,024.12€","8,982.52€","5,914.29€","3,447.83€",1.90,Lisbon

In [453]:
df_table_costlife

   Country                                               Item Cost Lisbon
0   Dublin                      Meal, Inexpensive Restaurant       15.00€
1   Dublin  Meal for 2 People, Mid-range Restaurant, Three...      70.00€
2   Dublin    McMeal at McDonalds (or Equivalent Combo Meal)        9.00€
3   Dublin                 Domestic Beer (0.5 liter draught)        5.75€
4   Dublin                 Imported Beer (0.33 liter bottle)        5.50€
5   Dublin                              Cappuccino (regular)        3.61€
6   Dublin                    Coke/Pepsi (0.33 liter bottle)        2.01€
7   Dublin                        Water (0.33 liter bottle)         1.61€
8   Dublin                         Milk (regular), (1 liter)        1.05€
9   Dublin                  Loaf of Fresh White Bread (500g)        1.64€
10  Dublin                               Rice (white), (1kg)        1.27€
11  Dublin                               Eggs (regular) (12)        3.06€
12  Dublin                                Local Cheese (1kg)        8.58€
13  Dublin                             Chicken Fillets (1kg)        8.89€
14  Dublin  Beef Round (1kg) (or Equivalent Back Leg Red M...      10.52€
15  Dublin                                      Apples (1kg)        2.37€
16  Dublin                                      Banana (1kg)        1.63€
17  Dublin                                     Oranges (1kg)        2.12€
18  Dublin                                      Tomato (1kg)        3.00€
19  Dublin                                      Potato (1kg)        1.37€
20  Dublin                                       Onion (1kg)        1.13€
21  Dublin                                  Lettuce (1 head)        1.07€
22  Dublin                          Water (1.5 liter bottle)        1.03€
23  Dublin                        Bottle of Wine (Mid-Range)       12.00€
24  Dublin                  Domestic Beer (0.5 liter bottle)        2.92€
25  Dublin                 Imported Beer (0.33 liter bottle)        2.90€
26  Dublin                     Cigarettes 20 Pack (Marlboro)       14.70€
27  Dublin                  One-way Ticket (Local Transport)        2.80€
28  Dublin                      Monthly Pass (Regular Price)      120.87€
29  Dublin                        Taxi Start (Normal Tariff)        4.00€
30  Dublin                          Taxi 1km (Normal Tariff)        1.50€
31  Dublin                Taxi 1hour Waiting (Normal Tariff)       25.00€
32  Dublin                                Gasoline (1 liter)        1.83€
33  Dublin  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  26,000.00€
34  Dublin  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  27,827.44€
35  Dublin  Basic (Electricity, Heating, Cooling, Water, G...     177.52€
36  Dublin  1 min. of Prepaid Mobile Tariff Local (No Disc...       0.38€
37  Dublin  Internet (60 Mbps or More, Unlimited Data, Cab...      52.40€
38  Dublin             Fitness Club, Monthly Fee for 1 Adult       44.56€
39  Dublin             Tennis Court Rent (1 Hour on Weekend)       15.15€
40  Dublin             Cinema, International Release, 1 Seat       12.00€
41  Dublin  Preschool (or Kindergarten), Full Day, Private...   1,178.95€
42  Dublin  International Primary School, Yearly for 1 Child    8,415.00€
43  Dublin            1 Pair of Jeans (Levis 501 Or Similar)       82.17€
44  Dublin  1 Summer Dress in a Chain Store (Zara, H&M, ...)       32.65€
45  Dublin          1 Pair of Nike Running Shoes (Mid-Range)       83.44€
46  Dublin              1 Pair of Men Leather Business Shoes       95.86€
47  Dublin              Apartment (1 bedroom) in City Centre    1,768.53€
48  Dublin           Apartment (1 bedroom) Outside of Centre    1,473.79€
49  Dublin             Apartment (3 bedrooms) in City Centre    3,027.59€
50  Dublin          Apartment (3 bedrooms) Outside of Centre    2,372.64€
51  Dublin  Price per Square Meter to Buy Apartment in Cit...   7,541.56€
52  Dublin  Price per Square Meter to Buy Apartment Outsid...   4,504.82€
53  Dublin            Average Monthly Net Salary (After Tax)    3,070.96€
54  Dublin  Mortgage Interest Rate in Percentages (%), Yea...        3.18

In [425]:
cost_life_list[0][0].keys()

dict_keys(['Country', 'Item', 'Cost'])

In [466]:
df_table_costlife = pd.DataFrame(cost_life_list[0])
#df_table_costlife = df_table_costlife.rename(columns ={'Cost': f'Cost {city}'})
df_table_costlife

   Country                                               Item        Cost
0   Dublin                      Meal, Inexpensive Restaurant       15.00€
1   Dublin  Meal for 2 People, Mid-range Restaurant, Three...      70.00€
2   Dublin    McMeal at McDonalds (or Equivalent Combo Meal)        9.00€
3   Dublin                 Domestic Beer (0.5 liter draught)        5.75€
4   Dublin                 Imported Beer (0.33 liter bottle)        5.50€
5   Dublin                              Cappuccino (regular)        3.61€
6   Dublin                    Coke/Pepsi (0.33 liter bottle)        2.01€
7   Dublin                        Water (0.33 liter bottle)         1.61€
8   Dublin                         Milk (regular), (1 liter)        1.05€
9   Dublin                  Loaf of Fresh White Bread (500g)        1.64€
10  Dublin                               Rice (white), (1kg)        1.27€
11  Dublin                               Eggs (regular) (12)        3.06€
12  Dublin                                Local Cheese (1kg)        8.58€
13  Dublin                             Chicken Fillets (1kg)        8.89€
14  Dublin  Beef Round (1kg) (or Equivalent Back Leg Red M...      10.52€
15  Dublin                                      Apples (1kg)        2.37€
16  Dublin                                      Banana (1kg)        1.63€
17  Dublin                                     Oranges (1kg)        2.12€
18  Dublin                                      Tomato (1kg)        3.00€
19  Dublin                                      Potato (1kg)        1.37€
20  Dublin                                       Onion (1kg)        1.13€
21  Dublin                                  Lettuce (1 head)        1.07€
22  Dublin                          Water (1.5 liter bottle)        1.03€
23  Dublin                        Bottle of Wine (Mid-Range)       12.00€
24  Dublin                  Domestic Beer (0.5 liter bottle)        2.92€
25  Dublin                 Imported Beer (0.33 liter bottle)        2.90€
26  Dublin                     Cigarettes 20 Pack (Marlboro)       14.70€
27  Dublin                  One-way Ticket (Local Transport)        2.80€
28  Dublin                      Monthly Pass (Regular Price)      120.87€
29  Dublin                        Taxi Start (Normal Tariff)        4.00€
30  Dublin                          Taxi 1km (Normal Tariff)        1.50€
31  Dublin                Taxi 1hour Waiting (Normal Tariff)       25.00€
32  Dublin                                Gasoline (1 liter)        1.83€
33  Dublin  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  26,000.00€
34  Dublin  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  27,827.44€
35  Dublin  Basic (Electricity, Heating, Cooling, Water, G...     177.52€
36  Dublin  1 min. of Prepaid Mobile Tariff Local (No Disc...       0.38€
37  Dublin  Internet (60 Mbps or More, Unlimited Data, Cab...      52.40€
38  Dublin             Fitness Club, Monthly Fee for 1 Adult       44.56€
39  Dublin             Tennis Court Rent (1 Hour on Weekend)       15.15€
40  Dublin             Cinema, International Release, 1 Seat       12.00€
41  Dublin  Preschool (or Kindergarten), Full Day, Private...   1,178.95€
42  Dublin  International Primary School, Yearly for 1 Child    8,415.00€
43  Dublin            1 Pair of Jeans (Levis 501 Or Similar)       82.17€
44  Dublin  1 Summer Dress in a Chain Store (Zara, H&M, ...)       32.65€
45  Dublin          1 Pair of Nike Running Shoes (Mid-Range)       83.44€
46  Dublin              1 Pair of Men Leather Business Shoes       95.86€
47  Dublin              Apartment (1 bedroom) in City Centre    1,768.53€
48  Dublin           Apartment (1 bedroom) Outside of Centre    1,473.79€
49  Dublin             Apartment (3 bedrooms) in City Centre    3,027.59€
50  Dublin          Apartment (3 bedrooms) Outside of Centre    2,372.64€
51  Dublin  Price per Square Meter to Buy Apartment in Cit...   7,541.56€
52  Dublin  Price per Square Meter to Buy Apartment Outsid...   4,504.82€
53  Dublin            Average Monthly Net Salary (After Tax)    3,070.96€
54  Dublin  Mortgage Interest Rate in Percentages (%), Yea...        3.18

In [427]:
#transposed_df = df_table_costlife.pivot_table("Cost Lisbon", ["Country"], "Item" )
#transposed_df

Empty DataFrame
Columns: []
Index: [Paris]

In [436]:
dicttest = dict(zip(df_table_costlife["Item"], df_table_costlife["Cost Lisbon"]))
df_test = pd.DataFrame([dicttest], columns=dicttest.keys())
#for each iteration create the name of the country
df_test
#dicttest
#df_test = pd.DataFrame(dicttest)

In [446]:
df_test = pd.DataFrame([dicttest], columns=dicttest.keys())
#for each iteration create the name of the country
df_test

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Cappuccino (regular),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,15.00€,60.00€,9.00€,6.75€,2.71€,3.81€,3.24€,2.10€,1.13€,2.09€,...,94.12€,134.65€,"1,271.76€",918.16€,"2,779.77€","1,979.20€","12,223.77€","8,981.25€","2,572.27€",1.37

In [ ]:
for country in 

df_table_costlife = pd.DataFrame(cost_life_list[3])
df_table_costlife = df_table_costlife.rename(columns ={'Cost': f'Cost {city}'})
df_table_costlife

In [400]:
# Test SUMMARY to main

cost_life_summary_list = []

#Loop to get a list of tables for summary
for citylink in cities_urls:
    time.sleep(random.randint(0,5)) # get random seconds
    #print (citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink[1] ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table SUMMARY for 2 in the column soup
        table_country = soup.find_all('span', {'class':'emp_number'})
        table_country = table_country[0:2]
        print(table_country)
        #Temporary list to store costs in span class
        summary_table = []
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table[0:2]:
            element = re.sub(r'([^a-zA-Z\s]+?)', '', element.text)
            element =element.replace(' are  ', ', ')
            summary_table.append({'Country':citylink[0],'Summary':element})
            print(summary_table)   
        
    except:
        pass
    
cost_life_summary_list

[<span class="emp_number">3,237.99€</span>, <span class="emp_number">914.61€</span>]
[{'Country': 'Dublin', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Dublin', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Dublin', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">3,516.15€</span>, <span class="emp_number">986.62€</span>]
[{'Country': 'Amsterdam', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Amsterdam', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Amsterdam', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">2,563.06€</span>, <span class="emp_number">728.17€</span>]
[{'Country': 'Madrid', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Madrid', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Madrid', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">3,405.86€</span>, <span class="emp_number">951.17€</span>]
[{'Country': 'Paris', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Paris', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Paris', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">2,886.89€</span>, <span class="emp_number">854.60€</span>]
[{'Country': 'Berlin', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Berlin', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Berlin', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">3,100.54€</span>, <span class="emp_number">877.74€</span>]
[{'Country': 'Milan', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Milan', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Milan', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">3,661.56€ <span class="in_other_currency">(3,072.20£)</span></span>, <span class="emp_number">1,058.43€ <span class="in_other_currency">(888.06£)</span></span>]
[{'Country': 'London', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'London', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'London', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">2,494.65€</span>, <span class="emp_number">719.06€</span>]
[{'Country': 'Barcelona', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Barcelona', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Barcelona', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">3,142.30€</span>, <span class="emp_number">929.53€</span>]
[{'Country': 'Frankfurt', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Frankfurt', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Frankfurt', 'Summary': 'A single person estimated monthly costs, without rent'}]
[<span class="emp_number">1,964.64€</span>, <span class="emp_number">562.72€</span>]
[{'Country': 'Lisbon', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}]
[{'Country': 'Lisbon', 'Summary': 'Family of four estimated monthly costs, without rent using our estimator'}, {'Country': 'Lisbon', 'Summary': 'A single person estimated monthly costs, without rent'}]

[]

In [558]:
# Test SUMMARY to main for Lists 
#cost_life_summary_list = []
summary_table_cities = []
summary_table_columns = []
summary_table_costs = []
df_main_summary =  pd.DataFrame()

#Loop to get a list of tables for summary
for citylink in cities_urls:
    time.sleep(random.randint(0,5)) # get random seconds
    #print (citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink[1] ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table SUMMARY for 2 in the column soup
        table_country = soup.find_all('span', {'class':'emp_number'})
        table_country = table_country[0:2]
        
        
             
        
        #Temporary list to store costs in span class
        summary_table = []
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table[0:2]:
            element = re.sub(r'([^a-zA-Z\s]+?) ', '', element.text)
            element =element.replace(' are  ', ', ')
            summary_table.append(element)
        summary_table_columns.append(summary_table)    
        print(summary_table) 
         #Temporary list to store cities
        summary_table_cities.append(citylink[0])
        
        #summary_table.append(citylink[0],)
            
        #Summary as list to LOOK BY CITY
        summary_table_costtemp = []
        for element in table_country[0:2]:
            summary_table_costtemp.append(element.text)
        summary_table_costs.append(summary_table_costtemp)
        
    except:
        pass
    
df_cities = pd.DataFrame({'City':summary_table_cities})
df_costs =pd.DataFrame(summary_table_costs,columns=summary_table_columns[0] )
maindf_summary = pd.concat([df_cities,df_costs],axis=1)
maindf_summary

['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']
['Family of four estimated monthly costs are without rent (using our estimator).', 'A single person estimated monthly costs are without rent.']

,City,Family of four estimated monthly costs are without rent (using our estimator).,A single person estimated monthly costs are without rent.
0,Dublin,"3,238.29€",914.70€
1,Amsterdam,"3,519.40€",987.45€
2,Madrid,"2,563.06€",728.17€
3,Paris,"3,406.18€",951.27€
4,Berlin,"2,887.91€",854.87€
5,Milan,"3,100.54€",877.74€
6,London,"3,674.09€ (3,080.97£)","1,061.70€ (890.30£)"
7,Barcelona,"2,494.87€",719.13€
8,Frankfurt,"3,141.27€",929.23€
9,Lisbon,"1,964.82€",562.77€

In [529]:
#cratio of Dict form lists
df_cities = pd.DataFrame({'City':summary_table_cities,})
df_costs =pd.DataFrame(summary_table_costs,columns=summary_table_columns[0] )
maindf_summary = pd.concat([df_cities,df_costs],axis=1)
maindf_summary

,City,"Family of four estimated monthly costs, without rent using our estimator","A single person estimated monthly costs, without rent"
0,Dublin,"3,238.29€",914.70€
1,Amsterdam,"3,519.40€",987.45€
2,Madrid,"2,563.06€",728.17€
3,Paris,"3,406.18€",951.27€
4,Berlin,"2,887.91€",854.87€
5,Milan,"3,100.54€",877.74€
6,London,"3,674.09€ (3,080.97£)","1,061.70€ (890.30£)"
7,Barcelona,"2,494.87€",719.13€
8,Frankfurt,"3,141.27€",929.23€
9,Lisbon,"1,964.82€",562.77€

In [525]:
summary_table_cities

['Dublin',
 'Amsterdam',
 'Madrid',
 'Paris',
 'Berlin',
 'Milan',
 'London',
 'Barcelona',
 'Frankfurt',
 'Lisbon']

In [507]:
summary_table_columns

[['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent'],
 ['Family of four estimated monthly costs, without rent using our estimator',
  'A single person estimated monthly costs, without rent']]

In [508]:
summary_table_costs

[['3,238.29€', '914.70€'],
 ['3,519.40€', '987.45€'],
 ['2,563.06€', '728.17€'],
 ['3,406.18€', '951.27€'],
 ['2,887.91€', '854.87€'],
 ['3,100.54€', '877.74€'],
 ['3,674.09€ (3,080.97£)', '1,061.70€ (890.30£)'],
 ['2,494.87€', '719.13€'],
 ['3,141.27€', '929.23€'],
 ['1,964.82€', '562.77€']]

In [394]:
#Genetal url to recicle for any city
city1 = 'Dublin'
gurl = 'https://www.numbeo.com/cost-of-living/in/'+city1
gurl

'https://www.numbeo.com/cost-of-living/in/Dublin'

In [395]:
response = requests.get(url)
soup = BeautifulSoup(response.content)
table_country = soup.find_all('span', {'class':'emp_number'})
table_country[0:2]

[<span class="emp_number">3,237.99€</span>,
 <span class="emp_number">914.61€</span>]

In [396]:
#TEST
#subjectString.replaceAll("\\P{L}", " ")
#re.sub('[^A-Za-z0-9]+ ', '', mystring)
summary_table = []
for element in table[0:2]:
    element = re.sub(r'([^a-zA-Z\s]+?)', '', element.text)
    element =element.replace(' are  ', ', ')
    summary_table.append({'Country':citylink[0],'Summary':element})
summary_table

[{'Country': 'Lisbon',
  'Summary': 'Family of four estimated monthly costs, without rent using our estimator'},
 {'Country': 'Lisbon',
  'Summary': 'A single person estimated monthly costs, without rent'}]

In [397]:
#Merging 2 list of dictionaries with function merge_two_dicts
table_summary = []
print(len(summary_table))
print(len(summary_table_cost))
for element in range(len(summary_table)):
    table_summary.append(merge_two_dicts(summary_table[element],summary_table_cost[element]))
table_summary

2
2

[{'Country': 'Lisbon',
  'Summary': 'Family of four estimated monthly costs, without rent using our estimator',
  'Cost': '3,239.23€'},
 {'Country': 'Lisbon',
  'Summary': 'A single person estimated monthly costs, without rent',
  'Cost': '914.92€'}]

In [ ]:
#prueba
cities_urlsdic =[]
for city in cities:
    templist =[]
    templist.append(city)
    templist.append('https://www.numbeo.com/cost-of-living/in/'+city)
    cities_urlsdic.append(templist)
cities_urlsdic

In [338]:
# Programa PRUEBA
#loop to extract the tables cost life in a list as dictionary
cost_life_list = []
cities_urls = ['https://www.numbeo.com/cost-of-living/in/'+city for city in cities ] 

#Loop to get a list of tables for cost life

for citylink in cities_urlsdic:
    time.sleep(random.randint(0,5)) # get random seconds
    print(citylink)
    try:
        #Validate response and get the soup
        response = requests.get(citylink ,headers=headers)
        soup = BeautifulSoup(response.content)
        
        # Lets bring the table ITEMS column soup
        table_city = soup.find_all('tr')
        
        #Temporary list to store ITEMS for each city the items 
        items_list = [] 
        
        #loop the soup to get the items ans store it in the temp list 
        for element in table_city[1:66]:
            if element.td is not None and element.td != "":
                items_list.append({f'Item {city}':element.td.text})
        
        # Lets bring the table COST column soup
        table_country = soup.find_all('span', {'class':'first_currency'})

        #Temporary list to store COST for each city the items 
        cost_item_list = []
        
        #loop the soup to get the COST and store it in the temp list 
        for element in table_country:
            cost_item_list.append({f'Cost {city}':element.text.replace('\xa0','')})
        
        #loop dict to get the country
        country_dic = []
        for country in country_dic:
            print()
            country_dic.append({'Country':country_dic[country]})
            

        #Merging 2 list of dictionaries with function merge_two_dicts
        table_costlife = []
        for element in range(len(items_list)):
            table_costlife.append(merge_two_dicts(items_list[element],cost_item_list[element]))
        #table_costlife

        #Add each city list into another list                
        cost_life_list.append(table_costlife)
        
      
    except:
        pass
    
cost_life_list            
#print(len(cost_life_list))   

country_dic

{'Dublin': 'https://www.numbeo.com/cost-of-living/in/Dublin'}
{'Amsterdam': 'https://www.numbeo.com/cost-of-living/in/Amsterdam'}
{'Madrid': 'https://www.numbeo.com/cost-of-living/in/Madrid'}
{'Paris': 'https://www.numbeo.com/cost-of-living/in/Paris'}
{'Berlin': 'https://www.numbeo.com/cost-of-living/in/Berlin'}
{'Milan': 'https://www.numbeo.com/cost-of-living/in/Milan'}
{'London': 'https://www.numbeo.com/cost-of-living/in/London'}
{'Barcelona': 'https://www.numbeo.com/cost-of-living/in/Barcelona'}
{'Frankfurt': 'https://www.numbeo.com/cost-of-living/in/Frankfurt'}
{'Lisbon': 'https://www.numbeo.com/cost-of-living/in/Lisbon'}

[{'Country': 'Dublin'},
 {'Country': 'Amsterdam'},
 {'Country': 'Madrid'},
 {'Country': 'Paris'},
 {'Country': 'Berlin'},
 {'Country': 'Milan'},
 {'Country': 'London'},
 {'Country': 'Barcelona'},
 {'Country': 'Frankfurt'},
 {'Country': 'Lisbon'}]

In [353]:
#PRUEBA
country_dic = []
for dic in cities_urlsdic:
    for country in dic.keys():
        country_dic.append(country)
         #country_dic.append({'Country':country,'URL:':})
country_dic

['Dublin',
 'Amsterdam',
 'Madrid',
 'Paris',
 'Berlin',
 'Milan',
 'London',
 'Barcelona',
 'Frankfurt',
 'Lisbon']

In [354]:
#prueba
cities_urlsdic =[]
for city in cities:
    templist =[]
    templist.append(city)
    templist.append('https://www.numbeo.com/cost-of-living/in/'+city)
    cities_urlsdic.append(templist)
cities_urlsdic

[['Dublin', 'https://www.numbeo.com/cost-of-living/in/Dublin'],
 ['Amsterdam', 'https://www.numbeo.com/cost-of-living/in/Amsterdam'],
 ['Madrid', 'https://www.numbeo.com/cost-of-living/in/Madrid'],
 ['Paris', 'https://www.numbeo.com/cost-of-living/in/Paris'],
 ['Berlin', 'https://www.numbeo.com/cost-of-living/in/Berlin'],
 ['Milan', 'https://www.numbeo.com/cost-of-living/in/Milan'],
 ['London', 'https://www.numbeo.com/cost-of-living/in/London'],
 ['Barcelona', 'https://www.numbeo.com/cost-of-living/in/Barcelona'],
 ['Frankfurt', 'https://www.numbeo.com/cost-of-living/in/Frankfurt'],
 ['Lisbon', 'https://www.numbeo.com/cost-of-living/in/Lisbon']]

In [324]:
df_table_costlife = pd.DataFrame(cost_life_list[0])
df_table_costlife = df_table_costlife.rename(columns ={'Cost': f'Cost {city}'})
df_table_costlife

                                          Item Lisbon Cost Lisbon
0                       Meal, Inexpensive Restaurant       15.00€
1   Meal for 2 People, Mid-range Restaurant, Three...      70.00€
2     McMeal at McDonalds (or Equivalent Combo Meal)        9.00€
3                  Domestic Beer (0.5 liter draught)        5.75€
4                  Imported Beer (0.33 liter bottle)        5.50€
5                               Cappuccino (regular)        3.61€
6                     Coke/Pepsi (0.33 liter bottle)        2.01€
7                         Water (0.33 liter bottle)         1.61€
8                          Milk (regular), (1 liter)        1.05€
9                   Loaf of Fresh White Bread (500g)        1.64€
10                               Rice (white), (1kg)        1.27€
11                               Eggs (regular) (12)        3.06€
12                                Local Cheese (1kg)        8.58€
13                             Chicken Fillets (1kg)        8.89€
14  Beef Round (1kg) (or Equivalent Back Leg Red M...      10.52€
15                                      Apples (1kg)        2.37€
16                                      Banana (1kg)        1.63€
17                                     Oranges (1kg)        2.12€
18                                      Tomato (1kg)        3.00€
19                                      Potato (1kg)        1.37€
20                                       Onion (1kg)        1.13€
21                                  Lettuce (1 head)        1.07€
22                          Water (1.5 liter bottle)        1.03€
23                        Bottle of Wine (Mid-Range)       12.00€
24                  Domestic Beer (0.5 liter bottle)        2.92€
25                 Imported Beer (0.33 liter bottle)        2.83€
26                     Cigarettes 20 Pack (Marlboro)       14.70€
27                  One-way Ticket (Local Transport)        2.80€
28                      Monthly Pass (Regular Price)      120.87€
29                        Taxi Start (Normal Tariff)        4.00€
30                          Taxi 1km (Normal Tariff)        1.50€
31                Taxi 1hour Waiting (Normal Tariff)       25.00€
32                                Gasoline (1 liter)        1.83€
33  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  26,000.00€
34  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...  27,827.44€
35  Basic (Electricity, Heating, Cooling, Water, G...     177.52€
36  1 min. of Prepaid Mobile Tariff Local (No Disc...       0.38€
37  Internet (60 Mbps or More, Unlimited Data, Cab...      52.21€
38             Fitness Club, Monthly Fee for 1 Adult       44.56€
39             Tennis Court Rent (1 Hour on Weekend)       15.15€
40             Cinema, International Release, 1 Seat       12.00€
41  Preschool (or Kindergarten), Full Day, Private...   1,178.95€
42  International Primary School, Yearly for 1 Child    8,415.00€
43            1 Pair of Jeans (Levis 501 Or Similar)       82.17€
44  1 Summer Dress in a Chain Store (Zara, H&M, ...)       32.65€
45          1 Pair of Nike Running Shoes (Mid-Range)       83.44€
46              1 Pair of Men Leather Business Shoes       95.86€
47              Apartment (1 bedroom) in City Centre    1,768.53€
48           Apartment (1 bedroom) Outside of Centre    1,481.74€
49             Apartment (3 bedrooms) in City Centre    3,027.59€
50          Apartment (3 bedrooms) Outside of Centre    2,372.64€
51  Price per Square Meter to Buy Apartment in Cit...   7,541.56€
52  Price per Square Meter to Buy Apartment Outsid...   4,504.82€
53            Average Monthly Net Salary (After Tax)    3,070.96€
54  Mortgage Interest Rate in Percentages (%), Yea...        3.18

In [312]:
#Convert list of dictionaries to datafram

df_table_costlife = pd.DataFrame(cost_life_list)
df_table_costlife = df_table_costlife.rename(columns ={'Cost': f'Cost {city}'})
#df_table_costlife

In [296]:
# Loop and extraxt row from tables items names
# Lets bring the table items column soup
table_city = soup.find_all('tr')

items_list = []
for element in table_city[1:66]:
    if element.td is not None and element.td != "":
        items_list.append({'Item':element.td.text})
print(items_list)

[{'Item': 'Meal, Inexpensive Restaurant '}, {'Item': 'Meal for 2 People, Mid-range Restaurant, Three-course '}, {'Item': 'McMeal at McDonalds (or Equivalent Combo Meal) '}, {'Item': 'Domestic Beer (0.5 liter draught) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cappuccino (regular) '}, {'Item': 'Coke/Pepsi (0.33 liter bottle) '}, {'Item': 'Water (0.33 liter bottle)  '}, {'Item': 'Milk (regular), (1 liter) '}, {'Item': 'Loaf of Fresh White Bread (500g) '}, {'Item': 'Rice (white), (1kg) '}, {'Item': 'Eggs (regular) (12) '}, {'Item': 'Local Cheese (1kg) '}, {'Item': 'Chicken Fillets (1kg) '}, {'Item': 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) '}, {'Item': 'Apples (1kg) '}, {'Item': 'Banana (1kg) '}, {'Item': 'Oranges (1kg) '}, {'Item': 'Tomato (1kg) '}, {'Item': 'Potato (1kg) '}, {'Item': 'Onion (1kg) '}, {'Item': 'Lettuce (1 head) '}, {'Item': 'Water (1.5 liter bottle) '}, {'Item': 'Bottle of Wine (Mid-Range) '}, {'Item': 'Domestic Beer (0.5 liter bottle) '}, {'Item': 'Imported Beer (0.33 liter bottle) '}, {'Item': 'Cigarettes 20 Pack (Marlboro) '}, {'Item': 'One-way Ticket (Local Transport) '}, {'Item': 'Monthly Pass (Regular Price) '}, {'Item': 'Taxi Start (Normal Tariff) '}, {'Item': 'Taxi 1km (Normal Tariff) '}, {'Item': 'Taxi 1hour Waiting (Normal Tariff) '}, {'Item': 'Gasoline (1 liter) '}, {'Item': 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) '}, {'Item': 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) '}, {'Item': 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment '}, {'Item': '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) '}, {'Item': 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) '}, {'Item': 'Fitness Club, Monthly Fee for 1 Adult '}, {'Item': 'Tennis Court Rent (1 Hour on Weekend) '}, {'Item': 'Cinema, International Release, 1 Seat '}, {'Item': 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child '}, {'Item': 'International Primary School, Yearly for 1 Child '}, {'Item': '1 Pair of Jeans (Levis 501 Or Similar) '}, {'Item': '1 Summer Dress in a Chain Store (Zara, H&M, ...) '}, {'Item': '1 Pair of Nike Running Shoes (Mid-Range) '}, {'Item': '1 Pair of Men Leather Business Shoes '}, {'Item': 'Apartment (1 bedroom) in City Centre '}, {'Item': 'Apartment (1 bedroom) Outside of Centre '}, {'Item': 'Apartment (3 bedrooms) in City Centre '}, {'Item': 'Apartment (3 bedrooms) Outside of Centre '}, {'Item': 'Price per Square Meter to Buy Apartment in City Centre '}, {'Item': 'Price per Square Meter to Buy Apartment Outside of Centre '}, {'Item': 'Average Monthly Net Salary (After Tax) '}, {'Item': 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate '}]

In [404]:
pol ={
  "overall_aqi": 55,
  "CO": {
    "concentration": 223.64,
    "aqi": 2
  },
  "PM10": {
    "concentration": 3.62,
    "aqi": 3
  },
  "SO2": {
    "concentration": 5.13,
    "aqi": 7
  },
  "PM2.5": {
    "concentration": 1.82,
    "aqi": 5
  },
  "O3": {
    "concentration": 60.8,
    "aqi": 55
  },
  "NO2": {
    "concentration": 9.68,
    "aqi": 12
  }
}

In [405]:
pol

{'overall_aqi': 55,
 'CO': {'concentration': 223.64, 'aqi': 2},
 'PM10': {'concentration': 3.62, 'aqi': 3},
 'SO2': {'concentration': 5.13, 'aqi': 7},
 'PM2.5': {'concentration': 1.82, 'aqi': 5},
 'O3': {'concentration': 60.8, 'aqi': 55},
 'NO2': {'concentration': 9.68, 'aqi': 12}}

In [418]:
a = list(pol.values())

In [419]:
a[0]

55

In [420]:
pollution_list = []
pollution_list.append({'Country':'London','overall_aqi':a[0]})
pollution_list

[{'Country': 'London', 'overall_aqi': 55}]

In [416]:
count = 0
for elemnt in pol.values():
    count =+ 1
    print(count,elemnt)

1 55
1 {'concentration': 223.64, 'aqi': 2}
1 {'concentration': 3.62, 'aqi': 3}
1 {'concentration': 5.13, 'aqi': 7}
1 {'concentration': 1.82, 'aqi': 5}
1 {'concentration': 60.8, 'aqi': 55}
1 {'concentration': 9.68, 'aqi': 12}